@* DevelopeR: Alimohammad Eghbaldar http://eghbaldar.ir *@
@addTagHelper *,LazZiya.TagHelpers
@using galaxypremiere.Application.Services.UserLoginLog.Queries.GetUsersLoginLogs
@model ResultGetUsersLoginLogsServiceDto
@{
    ViewData["PageTitle"] = "Galaxy Premiere - Users' Login Logs";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    //Pagination
    int currentPage = 1;
    int.TryParse(Context.Request.Query["p"], out currentPage);
}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">User's Login Logs</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            @{
                if (!Model.GetUsersLoginLogsServiceDto.Any())
                {
                    <span>Empty</span>
                }
                else
                {
                    <table class="table mb-0" id="tbUser">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>IP</th>
                                <th>Login Date&Time</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var loginLog in Model.GetUsersLoginLogsServiceDto)
                            {
                                <tr>
                                    <td>@loginLog.Id</td>
                                    <td>@loginLog.IP</td>
                                    <td>@loginLog.LoginDateTime</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers"
             id="datatable-buttons_paginate">
            <paging page-no="@currentPage==0?1:currentPage"
                    page-size="@Model.RowsInEachOage"
                    total-records="@Model.RowCount">
            </paging>
        </div>
    </div>
</div>