@* DevelopeR: Alimohammad Eghbaldar http://eghbaldar.ir *@
@using Endpoint.Site.Models.Users.GetInformation;
@model ModelGetInformation;
@{
    Layout = "~/Views/Shared/_LayoutInnerPages.cshtml";
}
@section Styles{
    @*Only for this page*@
    <link href="~/sitetemplate/innerpages/pagecssjs/me/me.css" rel="stylesheet" />
    @*King Remaining Characters*@
    <link href="~/lib/kingfuncs/remainingcharacters/main.css" rel="stylesheet" />
    @*King Password*@
    <link href="~/lib/kingfuncs/password/password.css" rel="stylesheet" />
    @*datapicker*@
    <link href="~/lib/datapicker/datepicker.min.css" rel="stylesheet" />
    @*end of datapicker*@
}
@await Component.InvokeAsync("UserAccountNavigation") <i class="mdi mdi-chevron-down"></i>

<div id="TabUserAccount" class="TabUserTabcontent">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">ACCOUNT</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="Create" id="frmAddUser" method="post">

                    <div class="input-group mb-3">
                        <span class="input-group-text">Firstname</span>
                        <input type="text"
                               class="form-control"
                               id="txtFirstname"
                               placeholder="John"
                               value=@{
                               if(Model.getUsersInformationServiceDto != null)
                                   @Model.getUsersInformationServiceDto.Firstname
                               }>

                        <span class="input-group-text">Middle Name</span>
                        <input type="text"
                               class="form-control"
                               id="txtMiddlename"
                               placeholder="Karan"
                               value=@{
                               if(Model.getUsersInformationServiceDto != null)
                                   @Model.getUsersInformationServiceDto.MiddleName
                               }>

                        <span class="input-group-text">Surname</span>
                        <input type="text"
                               class="form-control"
                               id="txtSurname"
                               placeholder="Fox"
                               value=@{
                               if(Model.getUsersInformationServiceDto != null)
                                   @Model.getUsersInformationServiceDto.Surname
                               }>
                    </div>

                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Gender</label>
                        <select class="form-select" id="selectGender">
                            <option selected>Choose...</option>
                            <option value="1" selected="@(Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Gender == 1)">Male</option>
                            <option value="2" selected="@(Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Gender == 2)">Female</option>
                            <option value="3" selected="@(Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Gender == 4)">Other</option>
                        </select>
                    </div>

                    @*&& Model.getUsersInformationServiceDto != null*@
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Country</label>
                        <select class="form-select"
                                id="selectCountry">
                            <option selected>Choose...</option>
                            @{
                                if (Model.resultGetCountriesServiceDto != null)
                                {
                                    foreach (var country in Model.resultGetCountriesServiceDto.getCountriesServiceDto)
                                    {
                                        <option value="@country.Id"
                                    selected="@(Model.getUsersInformationServiceDto != null && country.Id == Model.getUsersInformationServiceDto.CountryId)">
                                            @country.Name
                                        </option>

                                    }
                                }
                            }
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Language</label>
                        <select class="form-select" id="selectLanguage">
                            <option selected>Choose...</option>
                            @{
                                if (Model.resultGetLanguagesServiceDto != null)
                                {
                                    foreach (var lang in Model.resultGetLanguagesServiceDto.getLanguagesServiceDto)
                                    {
                                        <option value="@lang.Id"
                                    selected="@(Model.getUsersInformationServiceDto != null && lang.Id == Model.getUsersInformationServiceDto.LanguageId)">@lang.Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>

                    <div style="display:flex;">
                        <div>
                            <label class="input-group-text" style="border-radius:5px 0px 0px 5px;"
                                   for="inputGroupSelect01">Birthday</label>
                        </div>
                        <div>
                            <input readonly
                                   placeholder="select your birthday ..."
                                   style="border-radius:0px;border-left:0;" width="200"
                                   id="datepickerBirthday"
                                   value=@{
                                   if(Model.getUsersInformationServiceDto != null)
                                       @Model.getUsersInformationServiceDto.BirthDay
                                   }>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Birth City</span>
                        <input type="text"
                               class="form-control"
                               id="txtBirthcity"
                               placeholder="New York"
                               value=@{
                               if(Model.getUsersInformationServiceDto != null)
                                   @Model.getUsersInformationServiceDto.BirthCity
                               }>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Current City</span>
                        <input type="text"
                               class="form-control"
                               id="txtCurrentCity"
                               placeholder="New York"
                               value=@{
                               if(Model.getUsersInformationServiceDto != null)
                                   @Model.getUsersInformationServiceDto.CurrentCity
                               }>
                    </div>

                    <button type="button" onclick="UpdateInfoAccount()" id="btnAddUser" class="btn cur-p btn-primary">
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="TabUserContact" class="TabUserTabcontent">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">ACCOUNT</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="CraeteUpdateContact" id="frmContact" method="post">

                    <div class="input-group mb-3">
                        <span class="input-group-text">Address Line 1</span>
                        <input type="text"
                               class="form-control"
                               id="txtAddress1"
                               placeholder="3015"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Address1
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Address Line 2</span>
                        <input type="text"
                               class="form-control"
                               id="txtAddress2"
                               placeholder="Grand Ave"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Address2
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">City</span>
                        <input type="text"
                               class="form-control"
                               id="txtCity"
                               placeholder="Miami"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.City
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">State</span>
                        <input type="text"
                               class="form-control"
                               id="txtState"
                               placeholder="Florida"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.State
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Postal Code (Zip Code)</span>
                        <input type="text"
                               class="form-control"
                               id="txtPostalCode"
                               placeholder="33133"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.PostalCode
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Phone</span>
                        <input type="text"
                               class="form-control"
                               id="txtPhone"
                               placeholder="(305) 447-2273"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Phone
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">RecoveryEmail</span>
                        <input type="text"
                               class="form-control"
                               id="txtRecoveryEmail"
                               placeholder="support@galaxypremiere.com"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.RecoveryEmail
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Website</span>
                        <input type="text"
                               class="form-control"
                               id="txtWebsite"
                               placeholder="www.galaxypremiere.com"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Website
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Facebook</span>
                        <input type="text"
                               class="form-control"
                               id="txtFacebook"
                               placeholder="@@galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Facebook
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Instagram</span>
                        <input type="text"
                               class="form-control"
                               id="txtInstagram"
                               placeholder="@@galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Instagram
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Twitter</span>
                        <input type="text"
                               class="form-control"
                               id="txtTwitter"
                               placeholder="@@galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Twitter
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Stage32</span>
                        <input type="text"
                               class="form-control"
                               id="txtStage32"
                               placeholder="stage32.com/galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Stage32
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Youtube</span>
                        <input type="text"
                               class="form-control"
                               id="txtYoutube"
                               placeholder="youtube.com/galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Youtube
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Linkden</span>
                        <input type="text"
                               class="form-control"
                               id="txtLinkden"
                               placeholder="@@galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Linkden
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Vimeo</span>
                        <input type="text"
                               class="form-control"
                               id="txtVimeo"
                               placeholder="vimeo.com/galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Vimeo
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">IMDb</span>
                        <input type="text"
                               class="form-control"
                               id="txtIMDb"
                               placeholder="IMDb.com/galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Imdb
                               }>
                    </div>

                    <button type="button" onclick="UpdateInfoContact()" id="" class="btn cur-p btn-primary">
                        UPDATE
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="TabUserBIO" class="TabUserTabcontent">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">ACCOUNT</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="UpdateBIO" id="frmBIO" method="post">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Introduction</span>
                        <div class="form-floating">
                            <textarea maxlength="300"
                                      style="height:200px"
                                      class="form-control"
                                      onkeyup="updateCounter(this,'300');"
                                      id="txtIntroduction">@{if (Model.getUsersInformationServiceDto != null)@Model.getUsersInformationServiceDto.Introduction}</textarea>

                            <span class="form-label-counter" id="txtIntroductionCounter">0 / 300</span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">BIO (Resume)</span>
                        <div class="form-floating">
                            <textarea maxlength="700"
                                      row="5"
                                      style="height:200px"
                                      class="form-control"
                                      onkeyup="updateCounter(this,'7000');"
                                      id="txtBIO">@{if (Model.getUsersInformationServiceDto != null)@Model.getUsersInformationServiceDto.BIO}</textarea>

                            <span class="form-label-counter" id="txtBIOCounter">0 / 7000</span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Note</span>
                        <div class="form-floating">
                            <textarea maxlength="700"
                                      row="5"
                                      style="height:200px"
                                      class="form-control"
                                      onkeyup="updateCounter(this,'7000');"
                                      id="txtNote">@{if (Model.getUsersInformationServiceDto != null)@Model.getUsersInformationServiceDto.Note}</textarea>

                            <span class="form-label-counter" id="txtNoteCounter">0 / 7000</span>
                        </div>
                    </div>
                    <button type="button" onclick="UpdateInfoBIO()" id="" class="btn cur-p btn-primary">
                        UPDATE
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="TabUserPhotos" class="TabUserTabcontent">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Headshot</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                @*===================*@
                <div class="alert alert-info" role="alert">
                    Upload your headshot (Avatar)
                    <ul>
                        <li>This photo will be shown on your profile and will be accessed in public.</li>
                        <li>* Click on the default photo to change or drag-and-drap your photo.</li>
                        <li>* Your file must be less than 2 MB</li>
                        <li>* The acceptable exensions: JPG, PNG, BMP</li>
                    </ul>
                </div>
                <div id="dropzoneAvatar" class="@(Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Photo!=null? "dropped" : "")">
                    <div>
                        @{
                            if (Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Photo != null)
                            {
                                <img src="~/SiteTemplate/innerpages/images/user-headshot/@Model.getUsersInformationServiceDto.Photo" />
                            }
                        }
                    </div>
                    <div id="HeadshotLoader" class="loader"></div>
                    <div id="HeadshotChangePhoto" class="HoverChangePhoto">CHANGE</div>
                    <input id="filedropzoneAvatar" type="file" />
                </div>

                @*===================*@
            </div>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Header</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                @*===================*@
                <div class="alert alert-info" role="alert">
                    Upload your profile header
                    <ul>
                        <li>This photo will be shown on your profile and will be accessed in public.</li>
                        <li>* Click on the default photo to change or drag-and-drap your photo.</li>
                        <li>* Your file must be less than 5 MB</li>
                        <li>* The acceptable exensions: JPG, PNG, BMP</li>
                    </ul>
                </div>
                <div id="dropzoneHeader" class="@(Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Header != null ? "dropped" : "")">
                    @* <div>
                    @{
                    if (Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Header != null)
                    {
                    <img src="~/SiteTemplate/innerpages/images/user-header/@Model.getUsersInformationServiceDto.Header" />
                    }
                    }
                    </div>*@
                    <div id="HeaderLoader" class="loader"></div>
                     <div id="HeaderChangePhoto" class="HoverChangePhoto">CHANGE</div>
                    <input id="filedropzoneHeader" type="file" />
                </div>
                @*===================*@
            </div>
        </div>
    </div>
</div>

<div id="TabUserPrivacy" class="TabUserTabcontent">
    @*Username*@
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Username</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <div class="row">
                    <div class="card-body">
                        <div class="basic-form">
                            <form>
                                <div class="form-row align-items-center">
                                    <div class="col-auto">

                                        <label class="sr-only">Username</label>
                                        @{
                                            if (Model.getUsersInformationServiceDto != null)
                                            {
                                                <span class="pb-3" id="spanCurrentUsername">
                                                    <a href="https://galaxypremiere.com/@Model.getUsersInformationServiceDto.Username" target="target">
                                                        www.galaxypremiere.com/@Model.getUsersInformationServiceDto.Username
                                                    </a>
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="pb-3" id="spanCurrentUsername">
                                                    www.galaxypremiere.com/
                                                </span>
                                            }
                                        }

                                        <i id="iconCurrentUsername"></i>
                                        <div class="input-group mb-2">
                                            <span class="input-group-text">@@</span>
                                            <input type="text"
                                                   value="@{
                                                   if(Model.getUsersInformationServiceDto!=null)
                                                                                                                                                                                                                   @Model.getUsersInformationServiceDto.Username
                                                   }"
                                                   id="txtUsername"
                                                   onkeyup="ChangeRuntimeUsername();"
                                                   class="form-control"
                                                   placeholder="Username">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="button" onclick="UpdateInfoUsername();" class="btn btn-primary mb-2">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    @*Password*@
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Password</h4>
        </div>
        <div class="card-body">
            @*############################## KING PASSWORD #############################*@
            <div class="pb-3">
                <input type="checkbox" id="chkPassword" onchange="PasswordCheckbox(this)" />
                <label>Change Password</label>
                <span class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <span id="spanPassNotMatch" class="input-group-text"> <i class="fa fa-lock"></i> </span>
                <input type="password"
                       onkeyup="checkPassMatchRePass('#txtPassword','#txtRePassword','#spanInvalidRePassword')"
                       id="txtPassword"
                       class="form-control"
                       disabled>
                <span class="input-group-text">
                    <div id="meter"></div>
                </span>
                <span id="spanGeneratePass"
                      class="input-group-text" onclick="generatePass('#spanInvalidRePassword','#txtPassword','#txtRePassword')"
                      style="pointer-events:none;">
                    <i class="fa fa-bolt"></i>
                </span>
                <span class="input-group-text">
                    <i id="spanPassVisibilty" onclick="showPassword('txtPassword','#spanPassVisibilty')" class="fa fa-eye-slash"></i>
                </span>
                <div id="val-password1-error" class="invalid-feedback animated fadeInUp" style="display: block;"></div>
            </div>
            <div id="spanInvalidRePassword" class="text-danger"></div>
            <div class="input-group mb-3">
                <span class="input-group-text">re-Pass</span>
                <input type="password"
                       id="txtRePassword"
                       onkeyup="checkPassMatchRePass('#txtPassword','#txtRePassword','#spanInvalidRePassword')"
                       class="form-control"
                       disabled>
            </div>
            <div style="padding-bottom:15px;">
                <a href="#">I can't remember my password! (reset password)</a>
            </div>
            <button type="button" onclick="UpdateInfoPassword();" class="btn btn-primary mb-2">Update</button>
            @*############################## END of KING PASSWORD #############################*@
        </div>
    </div>
    <br />
    @*Account Type = Filmmaker & Distributor*@
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Account Type</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Filmmaker Type</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    You are allowed to submit freely and unlimitedly your projects to the festivals.
                                </p>
                            </div>
                            <div class="card-footer d-sm-flex justify-content-between">
                                <button id="btnAccountType0" type="button" onclick="UpdateInfoAccountType(this,'FILMMAKER');"
                                        class="
@if (Model.getUsersInformationServiceDto != null)
	if(Model.getUsersInformationServiceDto.AccountType==0)
		@("btn cur-p btn-primary")
	else
		@("btn cur-p btn-light")
else
{
	@("btn cur-p btn-primary")
}

">
                                    @if (Model.getUsersInformationServiceDto != null)
                                        if (Model.getUsersInformationServiceDto.AccountType == 0)
                                            @("Enabled")
                                        else
                                            @("Enable")
                                    else
                                    {
                                        @("Enabled")
                                    }
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Distributor Type</h5>
                            </div>
                            <div class="card-body">
                                <p class="alert alert-info">
                                    You are allowed to submit freely and unlimitedly your client's projects to the festivals.
                                    <br />
                                    After changing your account to DISTRIBUTOR TYPE, you will have to add 10 new projects at least.
                                    <br />
                                    After that, your account will be suspended temporarily until we assess your right to distribution.
                                    <br />
                                    <span class="alert alert-danger mt-3">
                                        You will be given an admission discount as a distributor.
                                    </span>
                                </p>
                            </div>
                            <div class="card-footer d-sm-flex justify-content-between">
                                <button id="btnAccountType1" type="button" onclick="UpdateInfoAccountType(this,'DISTRIBUTION');"
                                        class="
                                @if (
Model.getUsersInformationServiceDto != null &&
Model.getUsersInformationServiceDto.AccountType==1)
                                @("btn cur-p btn-primary")
                                else
                                @("btn cur-p btn-light")













">
                                    @if (Model.getUsersInformationServiceDto != null)
                                        if (Model.getUsersInformationServiceDto.AccountType == 1)
                                            @("Enabled")
                                        else
                                            @("Enable")
                                    else
                                        @("Enable")

















                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Festival Type</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little <br> bit longer. Some quick example text to build the bulk</p>
                            </div>
                            <div class="card-footer d-sm-flex justify-content-between">
                                <button id="btnAccountType2" type="button" onclick="UpdateInfoAccountType(this,'FESTIVAL');"
                                        class="
                                @if (
Model.getUsersInformationServiceDto != null &&
Model.getUsersInformationServiceDto.AccountType==2)
                                @("btn cur-p btn-primary")
                                else
                                @("btn cur-p btn-light")













">
                                    @if (Model.getUsersInformationServiceDto != null)
                                        if (Model.getUsersInformationServiceDto.AccountType == 2)
                                            @("Enabled")
                                        else
                                            @("Enable")
                                    else
                                        @("Enable")














                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    @*Privacy = Mode of showing proile*@
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Privacy</h4>
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <div class="button_sction padding-bottom_0" id="testt">
                    <div class="button_block">

                        <button type="button" id="btnPrivacy0" onclick="UpdateInfoPrivacy(this,'0');"
                                class="
                                @if (Model.getUsersInformationServiceDto != null)
                                    if(Model.getUsersInformationServiceDto.Privacy==0)
                                        @("btn cur-p btn-primary")
                                    else
                                        @("btn cur-p btn-light")
                                else
                                {
                                    @("btn cur-p btn-primary")
                                }">
                            Public Mode
                        </button>

                    </div>
                    <div class="button_block">
                        <button type="button" id="btnPrivacy1" onclick="UpdateInfoPrivacy(this,'1');"
                                class="
                                @if (
Model.getUsersInformationServiceDto != null &&
Model.getUsersInformationServiceDto.Privacy==1)
                                @("btn cur-p btn-primary")
                                else
                                @("btn cur-p btn-light")













">
                            Festival Mode
                        </button>
                    </div>
                    <div class="button_block">
                        <button type="button" id="btnPrivacy2" onclick="UpdateInfoPrivacy(this,'2');"
                                class="
                                @if (
Model.getUsersInformationServiceDto != null &&
Model.getUsersInformationServiceDto.Privacy==2)
                                @("btn cur-p btn-primary")
                                else
                                @("btn cur-p btn-light")













">
                            My Mode
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @*King Password*@
    <script src="~/lib/kingfuncs/password/password.js"></script>
    @*Datapicker*@
    <script src="~/lib/datapicker/datapicker.js"></script>
    <script>
        $('#datepickerBirthday').datepicker({
            uiLibrary: 'bootstrap5'
        });
    </script>
    @*King Check File Extension & Size*@
    <script src="~/lib/kingfuncs/fileextensionsize/fileextensionsize.js"></script>
    @*King Remaining Characters*@
    <script src="~/lib/kingfuncs/remainingcharacters/main.js"></script>
    @*Check GetUsersInformationServiceDto.Header Model*@
    @{
        if (Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Header != null)
        {
            <script>
                var header = @(Html.Raw(Json.Serialize(@Model.getUsersInformationServiceDto.Header)));
                $("#dropzoneHeader").css("background", "url('" + "../../SiteTemplate/innerpages/images/user-header/" + header + "') center/cover");
            </script>
        }
        if (Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Photo != null)
        {
            <script>
                $("#dropzoneAvatar").css("background-image", "none");
            </script>
        }
    }
    @*Executive Functions : Only for this page*@
    <script src="~/SiteTemplate/innerpages/pagecssjs/me/me.js"></script>
}

