@* DevelopeR: Alimohammad Eghbaldar http://eghbaldar.ir *@
@using Endpoint.Site.Models.Users.GetInformation;
@model ModelGetInformation;
@{
    Layout = "~/Views/Shared/_LayoutInnerPages.cshtml";
}
@section Styles{
    <link href="~/lib/datapicker/datepicker.min.css" rel="stylesheet" />
}
@await Component.InvokeAsync("UserAccountNavigation") <i class="mdi mdi-chevron-down"></i>

<div class="card">
    <div class="card-header">
        <h4 class="card-title">ACCOUNT</h4>
    </div>
    <div class="card-body">
        <div class="basic-form">
            <form asp-action="Create" id="frmAddUser" method="post">

                <div class="input-group mb-3">
                    <span class="input-group-text">Firstname</span>
                    <input type="text"
                           class="form-control"
                           id="txtFirstname"
                           placeholder="for example: John"
                           value=@{
                           if(Model.getUsersInformationServiceDto != null)
                               @Model.getUsersInformationServiceDto.Firstname
                           }>

                    <span class="input-group-text">Middle Name</span>
                    <input type="text"
                           class="form-control"
                           id="txtMiddlename"
                           placeholder="forexample: Karan"
                           value=@{
                           if(Model.getUsersInformationServiceDto != null)
                               @Model.getUsersInformationServiceDto.MiddleName
                           }>

                    <span class="input-group-text">Surname</span>
                    <input type="text"
                           class="form-control"
                           id="txtSurname"
                           placeholder="for example: Fox"
                           value=@{
                           if(Model.getUsersInformationServiceDto != null)
                               @Model.getUsersInformationServiceDto.Surname
                           }>
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Gender</label>
                    <select class="form-select" id="selectGender">
                        <option selected>Choose...</option>                      
                        <option value="1" selected="@(Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Gender == 1)">Male</option>
                        <option value="2" selected="@(Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Gender == 2)">Female</option>
                        <option value="3" selected="@(Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Gender == 4)">Other</option>                        
                    </select>
                </div>

                @*&& Model.getUsersInformationServiceDto != null*@
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Country</label>
                    <select class="form-select"
                            id="selectCountry">
                        <option selected>Choose...</option>
                        @{
                            if (Model.resultGetCountriesServiceDto != null)
                            {
                                foreach (var country in Model.resultGetCountriesServiceDto.getCountriesServiceDto)
                                {
                                    <option value="@country.Id"
                                selected="@(Model.getUsersInformationServiceDto != null && country.Id == Model.getUsersInformationServiceDto.CountryId)">
                                        @country.Name
                                    </option>

                                }
                            }
                        }
                    </select>
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Language</label>
                    <select class="form-select" id="selectLanguage">
                        <option selected>Choose...</option>
                        @{
                            if (Model.resultGetLanguagesServiceDto != null)
                            {
                                foreach (var lang in Model.resultGetLanguagesServiceDto.getLanguagesServiceDto)
                                {
                                    <option value="@lang.Id"
                                selected="@(Model.getUsersInformationServiceDto != null && lang.Id == Model.getUsersInformationServiceDto.LanguageId)">@lang.Name</option>
                                }
                            }
                        }
                    </select>
                </div>

                <div style="display:flex;">
                    <div>
                        <label class="input-group-text" style="border-radius:5px 0px 0px 5px;"
                               for="inputGroupSelect01">Birthday</label>
                    </div>
                    <div>
                        <input readonly
                               placeholder="select your birthday ..."
                               style="border-radius:0px;border-left:0;" width="200"
                               id="datepickerBirthday"
                               value=@{
                               if(Model.getUsersInformationServiceDto != null)
                                   @Model.getUsersInformationServiceDto.BirthDay
                               }
                               >
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Birth City</span>
                    <input type="text"
                           class="form-control"
                           id="txtBirthcity"
                           placeholder="for example: New York"
                           value=@{
                           if(Model.getUsersInformationServiceDto != null)
                               @Model.getUsersInformationServiceDto.BirthCity
                           }>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Current City</span>
                    <input type="text"
                           class="form-control"
                           id="txtCurrentCity"
                           placeholder="for example: New York"
                           value=@{
                           if(Model.getUsersInformationServiceDto != null)
                               @Model.getUsersInformationServiceDto.CurrentCity
                           }>
                </div>


                <button type="button" onclick="UpdateInfoAccount()" id="btnAddUser" class="btn btn-rounded btn-info">
                    <span class="btn-icon-left text-info">
                        <i class="fa fa-plus color-info"></i>
                    </span>Add
                </button>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    @*Datapicker*@
    <script src="~/lib/datapicker/datapicker.js"></script>
    <script>
        $('#datepickerBirthday').datepicker({
            uiLibrary: 'bootstrap5'
        });
    </script>
    @*End of Datapicker*@
    <script>
        function UpdateInfoAccount() {
            var firstname = $('#txtFirstname').val();
            var middlename = $('#txtMiddlename').val();
            var surname = $('#txtSurname').val();
            var genderId = $('#selectGender').val();
            var countryId = $('#selectCountry').val();
            var languageId = $('#selectLanguage').val();
            var birthday = $('#datepickerBirthday').val();
            var birthcity = $('#txtBirthcity').val();
            var currentCity = $('#txtCurrentCity').val();

            var postData = {
                'Firstname': firstname,
                'MiddleName': middlename,
                'Surname': surname,
                'Gender': genderId,
                'CountryId': countryId,
                'LanguageId': languageId,
                'BirthDay': birthday,
                'BirthCity': birthcity,
                'CurrentCity': currentCity,
            }
            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: 'POST',
                data: postData,
                url: 'me',
                success: function (data) {
                    Swal.fire(data.message);
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
        }
    </script>
}