@* DevelopeR: Alimohammad Eghbaldar http://eghbaldar.ir *@
@using Endpoint.Site.Models.Users.GetInformation;
@model ModelGetInformation;
@{
    Layout = "~/Views/Shared/_LayoutInnerPages.cshtml";
}
@section Styles{
    @*Upload*@
    <style>
        /*====================== Headshot*/
        #dropzoneAvatar {
            position: relative;
            border: 5px dashed #000;
            border-radius: 50%;
            color: #000;
            font: bold 14px arial;
            height: 200px;
            margin: 30px auto;
            text-align: center;
            width: 200px;
            background-image: url('../sitetemplate/innerpages/images/layout_img/img-avatar.jpg');
            background-size: cover;
            background-repeat: repeat;
        }

            #dropzoneAvatar.hover {
                border: 4px solid green;
                color: green;
            }

            #dropzoneAvatar.dropped {
                background: #222;
                border: 5px solid #444;
            }

            #dropzoneAvatar div {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

            #dropzoneAvatar img {
                border-radius: 50%;
                vertical-align: middle;
                max-width: 100%;
                max-height: 100%;
            }

            #dropzoneAvatar [type="file"] {
                cursor: pointer;
                position: absolute;
                opacity: 0;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        /*=================== Header*/
        #dropzoneHeader {
            position: relative;
            border: 5px dashed #000;
            border-radius: 15px;
            color: #000;
            font: bold 14px arial;
            height: 300px;
            margin: 30px auto;
            text-align: center;
            width: 100%;
            background-image: url('../sitetemplate/innerpages/images/layout_img/img-avatar.jpg');
            background-size: cover;
            background-repeat: repeat;
        }

            #dropzoneHeader.hover {
                border: 4px solid green;
                color: green;
            }

            #dropzoneHeader.dropped {
                background: #222;
                border: 5px solid #444;
            }

            #dropzoneHeader div {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

            #dropzoneHeader img {
                border-radius: 15px;
                vertical-align: middle;
                max-width: 100%;
                max-height: 100%;
            }

            #dropzoneHeader [type="file"] {
                cursor: pointer;
                position: absolute;
                opacity: 0;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
    </style>
    @*King Remaining Characters*@
    <link href="~/lib/kingfuncs/remainingcharacters/main.css" rel="stylesheet" />
    @*King Password*@
    <link href="~/lib/kingfuncs/password/password.css" rel="stylesheet" />
    @*datapicker*@
    <link href="~/lib/datapicker/datepicker.min.css" rel="stylesheet" />
    @*end of datapicker*@
    <style>
        .colorRed {
            color: red;
        }

        .colorGreen {
            color: green;
        }

        .colorGray {
            color: gray;
        }
    </style>
}
@await Component.InvokeAsync("UserAccountNavigation") <i class="mdi mdi-chevron-down"></i>

<div id="TabUserAccount" class="TabUserTabcontent">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">ACCOUNT</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="Create" id="frmAddUser" method="post">

                    <div class="input-group mb-3">
                        <span class="input-group-text">Firstname</span>
                        <input type="text"
                               class="form-control"
                               id="txtFirstname"
                               placeholder="John"
                               value=@{
                               if(Model.getUsersInformationServiceDto != null)
                                   @Model.getUsersInformationServiceDto.Firstname
                               }>

                        <span class="input-group-text">Middle Name</span>
                        <input type="text"
                               class="form-control"
                               id="txtMiddlename"
                               placeholder="Karan"
                               value=@{
                               if(Model.getUsersInformationServiceDto != null)
                                   @Model.getUsersInformationServiceDto.MiddleName
                               }>

                        <span class="input-group-text">Surname</span>
                        <input type="text"
                               class="form-control"
                               id="txtSurname"
                               placeholder="Fox"
                               value=@{
                               if(Model.getUsersInformationServiceDto != null)
                                   @Model.getUsersInformationServiceDto.Surname
                               }>
                    </div>

                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Gender</label>
                        <select class="form-select" id="selectGender">
                            <option selected>Choose...</option>
                            <option value="1" selected="@(Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Gender == 1)">Male</option>
                            <option value="2" selected="@(Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Gender == 2)">Female</option>
                            <option value="3" selected="@(Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Gender == 4)">Other</option>
                        </select>
                    </div>

                    @*&& Model.getUsersInformationServiceDto != null*@
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Country</label>
                        <select class="form-select"
                                id="selectCountry">
                            <option selected>Choose...</option>
                            @{
                                if (Model.resultGetCountriesServiceDto != null)
                                {
                                    foreach (var country in Model.resultGetCountriesServiceDto.getCountriesServiceDto)
                                    {
                                        <option value="@country.Id"
                                    selected="@(Model.getUsersInformationServiceDto != null && country.Id == Model.getUsersInformationServiceDto.CountryId)">
                                            @country.Name
                                        </option>

                                    }
                                }
                            }
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Language</label>
                        <select class="form-select" id="selectLanguage">
                            <option selected>Choose...</option>
                            @{
                                if (Model.resultGetLanguagesServiceDto != null)
                                {
                                    foreach (var lang in Model.resultGetLanguagesServiceDto.getLanguagesServiceDto)
                                    {
                                        <option value="@lang.Id"
                                    selected="@(Model.getUsersInformationServiceDto != null && lang.Id == Model.getUsersInformationServiceDto.LanguageId)">@lang.Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>

                    <div style="display:flex;">
                        <div>
                            <label class="input-group-text" style="border-radius:5px 0px 0px 5px;"
                                   for="inputGroupSelect01">Birthday</label>
                        </div>
                        <div>
                            <input readonly
                                   placeholder="select your birthday ..."
                                   style="border-radius:0px;border-left:0;" width="200"
                                   id="datepickerBirthday"
                                   value=@{
                                   if(Model.getUsersInformationServiceDto != null)
                                       @Model.getUsersInformationServiceDto.BirthDay
                                   }>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Birth City</span>
                        <input type="text"
                               class="form-control"
                               id="txtBirthcity"
                               placeholder="New York"
                               value=@{
                               if(Model.getUsersInformationServiceDto != null)
                                   @Model.getUsersInformationServiceDto.BirthCity
                               }>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Current City</span>
                        <input type="text"
                               class="form-control"
                               id="txtCurrentCity"
                               placeholder="New York"
                               value=@{
                               if(Model.getUsersInformationServiceDto != null)
                                   @Model.getUsersInformationServiceDto.CurrentCity
                               }>
                    </div>

                    <button type="button" onclick="UpdateInfoAccount()" id="btnAddUser" class="btn cur-p btn-primary">
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="TabUserContact" class="TabUserTabcontent">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">ACCOUNT</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="CraeteUpdateContact" id="frmContact" method="post">

                    <div class="input-group mb-3">
                        <span class="input-group-text">Address Line 1</span>
                        <input type="text"
                               class="form-control"
                               id="txtAddress1"
                               placeholder="3015"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Address1
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Address Line 2</span>
                        <input type="text"
                               class="form-control"
                               id="txtAddress2"
                               placeholder="Grand Ave"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Address2
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">City</span>
                        <input type="text"
                               class="form-control"
                               id="txtCity"
                               placeholder="Miami"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.City
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">State</span>
                        <input type="text"
                               class="form-control"
                               id="txtState"
                               placeholder="Florida"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.State
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Postal Code (Zip Code)</span>
                        <input type="text"
                               class="form-control"
                               id="txtPostalCode"
                               placeholder="33133"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.PostalCode
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Phone</span>
                        <input type="text"
                               class="form-control"
                               id="txtPhone"
                               placeholder="(305) 447-2273"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Phone
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">RecoveryEmail</span>
                        <input type="text"
                               class="form-control"
                               id="txtRecoveryEmail"
                               placeholder="support@galaxypremiere.com"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.RecoveryEmail
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Website</span>
                        <input type="text"
                               class="form-control"
                               id="txtWebsite"
                               placeholder="www.galaxypremiere.com"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Website
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Facebook</span>
                        <input type="text"
                               class="form-control"
                               id="txtFacebook"
                               placeholder="@@galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Facebook
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Instagram</span>
                        <input type="text"
                               class="form-control"
                               id="txtInstagram"
                               placeholder="@@galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Instagram
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Twitter</span>
                        <input type="text"
                               class="form-control"
                               id="txtTwitter"
                               placeholder="@@galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Twitter
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Stage32</span>
                        <input type="text"
                               class="form-control"
                               id="txtStage32"
                               placeholder="stage32.com/galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Stage32
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Youtube</span>
                        <input type="text"
                               class="form-control"
                               id="txtYoutube"
                               placeholder="youtube.com/galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Youtube
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Linkden</span>
                        <input type="text"
                               class="form-control"
                               id="txtLinkden"
                               placeholder="@@galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Linkden
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Vimeo</span>
                        <input type="text"
                               class="form-control"
                               id="txtVimeo"
                               placeholder="vimeo.com/galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Vimeo
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">IMDb</span>
                        <input type="text"
                               class="form-control"
                               id="txtIMDb"
                               placeholder="IMDb.com/galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Imdb
                               }>
                    </div>

                    <button type="button" onclick="UpdateInfoContact()" id="" class="btn cur-p btn-primary">
                        UPDATE
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="TabUserBIO" class="TabUserTabcontent">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">ACCOUNT</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="UpdateBIO" id="frmBIO" method="post">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Introduction</span>
                        <div class="form-floating">
                            <textarea maxlength="300"
                                      row="5"
                                      style="height:200px"
                                      class="form-control"
                                      onkeyup="updateCounter(this,'300');"
                                      id="txtIntroduction"
                                      value=@{
                                      if(Model.getUsersInformationServiceDto != null)
                                          @Model.getUsersInformationServiceDto.Introduction
                                      }></textarea>

                            <span class="form-label-counter" id="txtIntroductionCounter">0 / 300</span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">BIO (Resume)</span>
                        <div class="form-floating">
                            <textarea maxlength="700"
                                      row="5"
                                      style="height:200px"
                                      class="form-control"
                                      onkeyup="updateCounter(this,'7000');"
                                      id="txtBIO"
                                      value=@{
                                      if(Model.getUsersInformationServiceDto != null)
                                          @Model.getUsersInformationServiceDto.BIO
                                      }></textarea>

                            <span class="form-label-counter" id="txtBIOCounter">0 / 7000</span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Note</span>
                        <div class="form-floating">
                            <textarea maxlength="700"
                                      row="5"
                                      style="height:200px"
                                      class="form-control"
                                      onkeyup="updateCounter(this,'7000');"
                                      id="txtNote"
                                      value=@{
                                      if(Model.getUsersInformationServiceDto != null)
                                          @Model.getUsersInformationServiceDto.Note
                                      }></textarea>

                            <span class="form-label-counter" id="txtNoteCounter">0 / 7000</span>
                        </div>
                    </div>
                    <button type="button" onclick="UpdateInfoBIO()" id="" class="btn cur-p btn-primary">
                        UPDATE
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="TabUserPhotos" class="TabUserTabcontent">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Headshot</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                @*===================*@
                <div class="alert alert-info" role="alert">
                    Upload your headshot (Avatar)
                    <ul>
                        <li>This photo will be shown on your profile and will be accessed in public.</li>
                        <li>* Click on the preset photo and choose your photo.</li>
                        <li>* Your file must be less than 2 MB</li>
                        <li>* The acceptable exensions: JPG, PNG, BMP</li>
                    </ul>
                </div>
                <div id="dropzoneAvatar" class="@(Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Photo!=null? "dropped" : "")">
                    <div>
                        @{
                            if (Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Photo != null)
                            {
                                <img src="~/SiteTemplate/innerpages/images/user-headshot/@Model.getUsersInformationServiceDto.Photo" />
                            }
                        }
                    </div>
                    <input type="file" />
                </div>
                @*===================*@
            </div>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Header</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                @*===================*@
                <div class="alert alert-info" role="alert">
                    Upload your profile header
                    <ul>
                        <li>This photo will be shown on your profile and will be accessed in public.</li>
                        <li>* Click on the preset photo and choose your photo.</li>
                        <li>* Your file must be less than 5 MB</li>
                        <li>* The acceptable exensions: JPG, PNG, BMP</li>
                    </ul>
                </div>
                <div id="dropzoneHeader" class="@(Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Header != null ? "dropped" : "")">
                    <div>
                        @{
                            if (Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Header != null)
                            {
                                <img src="~/SiteTemplate/innerpages/images/user-header/@Model.getUsersInformationServiceDto.Header" />
                            }
                        }
                    </div>
                    <input type="file" />
                </div>
                @*===================*@
            </div>
        </div>
    </div>
</div>

<div id="TabUserPrivacy" class="TabUserTabcontent">
    @*Username*@
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Username</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <div class="row">
                    <div class="card-body">
                        <div class="basic-form">
                            <form>
                                <div class="form-row align-items-center">
                                    <div class="col-auto">

                                        <label class="sr-only">Username</label>
                                        @{
                                            if (Model.getUsersInformationServiceDto != null)
                                            {
                                                <span class="pb-3" id="spanCurrentUsername">
                                                    <a href="https://galaxypremiere.com/@Model.getUsersInformationServiceDto.Username" target="target">
                                                        www.galaxypremiere.com/@Model.getUsersInformationServiceDto.Username
                                                    </a>
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="pb-3" id="spanCurrentUsername">
                                                    www.galaxypremiere.com/
                                                </span>
                                            }
                                        }

                                        <i id="iconCurrentUsername"></i>
                                        <div class="input-group mb-2">
                                            <span class="input-group-text">@@</span>
                                            <input type="text"
                                                   value="@{
                                                   if(Model.getUsersInformationServiceDto!=null)
                                                                                                                                                                                                           @Model.getUsersInformationServiceDto.Username
                                                   }"
                                                   id="txtUsername"
                                                   onkeyup="ChangeRuntimeUsername();"
                                                   class="form-control"
                                                   placeholder="Username">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="button" onclick="UpdateInfoUsername();" class="btn btn-primary mb-2">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    @*Password*@
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Password</h4>
        </div>
        <div class="card-body">
            @*############################## KING PASSWORD #############################*@
            <div class="pb-3">
                <input type="checkbox" id="chkPassword" onchange="PasswordCheckbox(this)" />
                <label>Change Password</label>
                <span class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <span id="spanPassNotMatch" class="input-group-text"> <i class="fa fa-lock"></i> </span>
                <input type="password"
                       onkeyup="checkPassMatchRePass('#txtPassword','#txtRePassword','#spanInvalidRePassword')"
                       id="txtPassword"
                       class="form-control"
                       disabled>
                <span class="input-group-text">
                    <div id="meter"></div>
                </span>
                <span id="spanGeneratePass"
                      class="input-group-text" onclick="generatePass('#spanInvalidRePassword','#txtPassword','#txtRePassword')"
                      style="pointer-events:none;">
                    <i class="fa fa-bolt"></i>
                </span>
                <span class="input-group-text">
                    <i id="spanPassVisibilty" onclick="showPassword('txtPassword','#spanPassVisibilty')" class="fa fa-eye-slash"></i>
                </span>
                <div id="val-password1-error" class="invalid-feedback animated fadeInUp" style="display: block;"></div>
            </div>
            <div id="spanInvalidRePassword" class="text-danger"></div>
            <div class="input-group mb-3">
                <span class="input-group-text">re-Pass</span>
                <input type="password"
                       id="txtRePassword"
                       onkeyup="checkPassMatchRePass('#txtPassword','#txtRePassword','#spanInvalidRePassword')"
                       class="form-control"
                       disabled>
            </div>
            <div style="padding-bottom:15px;">
                <a href="#">I can't remember my password! (reset password)</a>
            </div>
            <button type="button" onclick="UpdateInfoPassword();" class="btn btn-primary mb-2">Update</button>
            @*############################## END of KING PASSWORD #############################*@
        </div>
    </div>
    <br />
    @*Account Type = Filmmaker & Distributor*@
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Account Type</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Filmmaker Type</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    You are allowed to submit freely and unlimitedly your projects to the festivals.
                                </p>
                            </div>
                            <div class="card-footer d-sm-flex justify-content-between">
                                <button id="btnAccountType0" type="button" onclick="UpdateInfoAccountType(this,'FILMMAKER');"
                                        class="
@if (Model.getUsersInformationServiceDto != null)
	if(Model.getUsersInformationServiceDto.AccountType==0)
		@("btn cur-p btn-primary")
	else
		@("btn cur-p btn-light")
else
{
	@("btn cur-p btn-primary")
}

">
                                    @if (Model.getUsersInformationServiceDto != null)
                                        if (Model.getUsersInformationServiceDto.AccountType == 0)
                                            @("Enabled")
                                        else
                                            @("Enable")
                                    else
                                    {
                                        @("Enabled")
                                    }
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Distributor Type</h5>
                            </div>
                            <div class="card-body">
                                <p class="alert alert-info">
                                    You are allowed to submit freely and unlimitedly your client's projects to the festivals.
                                    <br />
                                    After changing your account to DISTRIBUTOR TYPE, you will have to add 10 new projects at least.
                                    <br />
                                    After that, your account will be suspended temporarily until we assess your right to distribution.
                                    <br />
                                    <span class="alert alert-danger mt-3">
                                        You will be given an admission discount as a distributor.
                                    </span>
                                </p>
                            </div>
                            <div class="card-footer d-sm-flex justify-content-between">
                                <button id="btnAccountType1" type="button" onclick="UpdateInfoAccountType(this,'DISTRIBUTION');"
                                        class="
                                @if (
Model.getUsersInformationServiceDto != null &&
Model.getUsersInformationServiceDto.AccountType==1)
                                @("btn cur-p btn-primary")
                                else
                                @("btn cur-p btn-light")











">
                                    @if (Model.getUsersInformationServiceDto != null)
                                        if (Model.getUsersInformationServiceDto.AccountType == 1)
                                            @("Enabled")
                                        else
                                            @("Enable")
                                    else
                                        @("Enable")















                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Festival Type</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little <br> bit longer. Some quick example text to build the bulk</p>
                            </div>
                            <div class="card-footer d-sm-flex justify-content-between">
                                <button id="btnAccountType2" type="button" onclick="UpdateInfoAccountType(this,'FESTIVAL');"
                                        class="
                                @if (
Model.getUsersInformationServiceDto != null &&
Model.getUsersInformationServiceDto.AccountType==2)
                                @("btn cur-p btn-primary")
                                else
                                @("btn cur-p btn-light")











">
                                    @if (Model.getUsersInformationServiceDto != null)
                                        if (Model.getUsersInformationServiceDto.AccountType == 2)
                                            @("Enabled")
                                        else
                                            @("Enable")
                                    else
                                        @("Enable")












                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    @*Privacy = Mode of showing proile*@
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Privacy</h4>
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <div class="button_sction padding-bottom_0" id="testt">
                    <div class="button_block">

                        <button type="button" id="btnPrivacy0" onclick="UpdateInfoPrivacy(this,'0');"
                                class="
                                @if (Model.getUsersInformationServiceDto != null)
                                    if(Model.getUsersInformationServiceDto.Privacy==0)
                                        @("btn cur-p btn-primary")
                                    else
                                        @("btn cur-p btn-light")
                                else
                                {
                                    @("btn cur-p btn-primary")
                                }">
                            Public Mode
                        </button>

                    </div>
                    <div class="button_block">
                        <button type="button" id="btnPrivacy1" onclick="UpdateInfoPrivacy(this,'1');"
                                class="
                                @if (
Model.getUsersInformationServiceDto != null &&
Model.getUsersInformationServiceDto.Privacy==1)
                                @("btn cur-p btn-primary")
                                else
                                @("btn cur-p btn-light")











">
                            Festival Mode
                        </button>
                    </div>
                    <div class="button_block">
                        <button type="button" id="btnPrivacy2" onclick="UpdateInfoPrivacy(this,'2');"
                                class="
                                @if (
Model.getUsersInformationServiceDto != null &&
Model.getUsersInformationServiceDto.Privacy==2)
                                @("btn cur-p btn-primary")
                                else
                                @("btn cur-p btn-light")











">
                            My Mode
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @*King Password*@
    <script src="~/lib/kingfuncs/password/password.js"></script>
    @*Datapicker*@
    <script src="~/lib/datapicker/datapicker.js"></script>
    <script>
        $('#datepickerBirthday').datepicker({
            uiLibrary: 'bootstrap5'
        });
    </script>
    @*End of Datapicker*@
    <script>
        function UpdateInfoAccount() {
            var firstname = $('#txtFirstname').val();
            var middlename = $('#txtMiddlename').val();
            var surname = $('#txtSurname').val();
            var genderId = $('#selectGender').val();
            var countryId = $('#selectCountry').val();
            var languageId = $('#selectLanguage').val();
            var birthday = $('#datepickerBirthday').val();
            var birthcity = $('#txtBirthcity').val();
            var currentCity = $('#txtCurrentCity').val();

            var postData = {
                'Firstname': firstname,
                'MiddleName': middlename,
                'Surname': surname,
                'Gender': genderId,
                'CountryId': countryId,
                'LanguageId': languageId,
                'BirthDay': birthday,
                'BirthCity': birthcity,
                'CurrentCity': currentCity,
            }
            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: 'POST',
                data: postData,
                url: 'MeAccount',
                success: function (data) {
                    Swal.fire(data.message);
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
        }
        function UpdateInfoContact() {
            var address1 = $('#txtAddress1').val();
            var address2 = $('#txtAddress2').val();
            var city = $('#txtCity').val();
            var state = $('#txtState').val();
            var postalCode = $('#txtPostalCode').val();
            var phone = $('#txtPhone').val();
            var recoveryEmail = $('#txtRecoveryEmail').val();
            var website = $('#txtWebsite').val();
            var facebook = $('#txtFacebook').val();
            var instagram = $('#txtInstagram').val();
            var twitter = $('#txtTwitter').val();
            var stage32 = $('#txtStage32').val();
            var youtube = $('#txtYoutube').val();
            var linkden = $('#txtLinkden').val();
            var vimeo = $('#txtVimeo').val();
            var imdb = $('#txtIMDb').val();

            var postData = {
                'Address1': address1,
                'Address2': address2,
                'City': city,
                'State': state,
                'PostalCode': postalCode,
                'Phone': phone,
                'RecoveryEmail': recoveryEmail,
                'Website': website,
                'Facebook': facebook,
                'Instagram': instagram,
                'Twitter': twitter,
                'Stage32': stage32,
                'Youtube': youtube,
                'Linkden': linkden,
                'Vimeo': vimeo,
                'Imdb': imdb,
            }
            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: 'POST',
                data: postData,
                url: 'MeContact',
                success: function (data) {
                    Swal.fire(data.message);
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
        }
        function UpdateInfoPrivacy(e, privacy) {
            var postData = {
                'Privacy': privacy
            }
            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: 'POST',
                data: postData,
                url: 'MePrivacy',
                success: function (data) {

                    // change styles of buttons
                    $("#btnPrivacy0").addClass('btn cur-p btn-light');
                    $("#btnPrivacy1").addClass('btn cur-p btn-light');
                    $("#btnPrivacy2").addClass('btn cur-p btn-light');
                    $(e).removeClass();
                    $(e).addClass('btn cur-p btn-primary');
                    // end

                    Swal.fire(data.message);
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
        }
        function UpdateInfoUsername() {
            var username = $("#txtUsername").val();
            var postData = {
                'username': username,
            };
            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: 'POST',
                data: postData,
                url: 'MeUsername',
                success: function (data) {
                    if (data.isSuccess) {
                        Swal.fire(data.message);
                    } else {
                        var check = data.data.status;
                        switch (check) {
                            case 0:
                                //duplicated!
                                Swal.fire(data.message);
                                break;
                            case 2:
                                //user did not find
                                Swal.fire(data.message);
                                break;
                        }
                    }
                },
                error: function (request, status, error) {
                    alert('err: ' + request.responseText);
                }
            });
        }
        function ChangeRuntimeUsername(e) {

            var input = $("#txtUsername").val();
            $("#spanCurrentUsername").html("<a target='_blank' href='https://galaxypremiere.com/" + input + "'>www.galaxypremiere.com/" + input + "</a>");

            var postData = {
                'Username': input,
            };
            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: 'POST',
                data: postData,
                url: 'MeUsernameRuntime',
                success: function (data) {
                    if (!data) {
                        $("#iconCurrentUsername").removeClass();
                        $("#iconCurrentUsername").addClass("fa-solid fa-check-double colorGreen");
                    } else {
                        $("#iconCurrentUsername").removeClass();
                        $("#iconCurrentUsername").addClass("fa-solid fa-circle-xmark colorRed");
                    }
                },
                error: function (request, status, error) {
                    alert('err: ' + request.responseText);
                }
            });
        }
        function UpdateInfoPassword() {

            var password = $("#txtPassword").val();
            var postData = {
                'Password': password
            }
            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: 'POST',
                data: postData,
                url: 'MePassword',
                success: function (data) {
                    Swal.fire(data.message);
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
        }
        function UpdateInfoAccountType(e, type) {

            var typeCode;
            switch (type) { //AccountTypeConstants
                case 'FILMMAKER':
                    typeCode = 0;
                    break;
                case 'DISTRIBUTION':
                    typeCode = 1;
                    break;
                case 'FESTIVAL':
                    typeCode = 2;
                    break;
            }
            var postData = {
                'AccountType': typeCode,
            }

            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: 'POST',
                data: postData,
                url: 'MeAccountType',
                success: function (data) {

                    // change styles of buttons
                    $("#btnAccountType0").addClass('btn cur-p btn-light');
                    $("#btnAccountType0").text('Enable');
                    $("#btnAccountType1").addClass('btn cur-p btn-light');
                    $("#btnAccountType1").text('Enable');
                    $("#btnAccountType2").addClass('btn cur-p btn-light');
                    $("#btnAccountType2").text('Enable');
                    $(e).removeClass();
                    $(e).addClass('btn cur-p btn-primary');
                    $(e).text('Enabled');
                    // end

                    Swal.fire(data.message);
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
        }
        function UpdateInfoBIO() {

            var intro = $("#txtIntroduction").val();
            var bio = $("#txtBIO").val();
            var note = $("#txtNote").val();

            var postData = {
                'Introduction': intro,
                'BIO': bio,
                'Note': note,
            }

            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: 'POST',
                data: postData,
                url: 'MeBIO',
                success: function (data) {
                    Swal.fire(data.message);
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
        }
        // set default value of iconCurrentUsername
        $(document).ready(function () {
            var input = $("#txtUsername").val();
            if (input == '') {
                $("#iconCurrentUsername").removeClass();
                $("#iconCurrentUsername").addClass("fa-solid fa-hourglass colorGray");
            } else {
                $("#iconCurrentUsername").removeClass();
                $("#iconCurrentUsername").addClass("fa-solid fa-check-double colorGreen");
            }
        });
    </script>
    @*Tabs*@
    <script>
        function userAccountNavigation(evt, tabName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("TabUserTabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(tabName).style.display = "block";
            //alert(evt.currentTarget.className);
            evt.currentTarget.className += " active";
        }
        document.getElementById("TabUserAccountDefaultOpen").click();
    </script>
    @*End of Tabs*@
    @*Upload Js*@
    <script>
        var dropzoneavatar = $("#dropzoneAvatar");
        var dropzoneheader = $("#dropzoneHeader");
        var inputavatar = dropzoneavatar.find('input');
        var inputheader = dropzoneheader.find('input');

        dropzoneavatar.on({
            dragenter: draginavatar,
            dragleave: dragoutavatar
        });
        dropzoneheader.on({
            dragenter: dragindropzoneheader,
            dragleave: dragoutdropzoneheader
        });

        inputavatar.on('change', dropavatar);
        inputheader.on('change', dropheader);

        function draginavatar(e) { //function for drag into element, just turns the bix X white
            $(dropzoneavatar).addClass('hover');
        }
        function dragindropzoneheader(e) { //function for drag into element, just turns the bix X white
            $(dropzoneheader).addClass('hover');
        }

        function dragoutavatar(e) { //function for dragging out of element
            $(dropzoneavatar).removeClass('hover');
        }
        function dragoutdropzoneheader(e) { //function for dragging out of element
            $(dropzoneheader).removeClass('hover');
        }

        function dropavatar(e) {
            var file = this.files[0];
            // the following functions uses (fileextensionsize.js)
            if (checkSizeExtension(file, ["jpg", "png", "bmp", "jpeg"], "2097152")) { // => 2 Mb // NOTE: If you want to change this value you will have to change the same value in (UpdateUsersInformationHeadshotService.cs) and (UploadSmallFilesService.cs)
                // upload file here
                var postData = new FormData();
                postData.append("File", file);
                $.ajax({
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    data: postData,
                    url: 'MeHeadshot',
                    success: function (data) {
                        $('#dropzoneAvatar').removeClass('hover').addClass('dropped').find('img').remove();
                        showfileavatar(file); // showing file for demonstration ...
                        Swal.fire(data.message);
                    },
                    error: function (req, res, err) {
                        alert('req' + req.responseText + 'res:' + res + 'err:' + err);
                    }
                });
            }
        }
        function dropheader(e) {
            var file = this.files[0];
            // the following functions uses (fileextensionsize.js)
            if (checkSizeExtension(file, ["jpg", "png", "bmp", "jpeg"], "5242880")) { // => 5 Mb // NOTE: If you want to change this value you will have to change the same value in (UpdateUsersInformationHeadertService.cs) and (UploadSmallFilesService.cs)
                // upload file here
                var postData = new FormData();
                postData.append("File", file);
                $.ajax({
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    data: postData,
                    url: 'MeHeader',
                    success: function (data) {
                        $('#dropzoneHeader').removeClass('hover').addClass('dropped').find('img').remove();
                        showfileheader(file); // showing file for demonstration ...
                        Swal.fire(data.message);
                    },
                    error: function (req, res, err) {
                        alert('req' + req.responseText + 'res:' + res + 'err:' + err);
                    }
                });
            }
        }

        function showfileavatar(file) {
            var reader = new FileReader(file);
            reader.readAsDataURL(file);
            reader.onload = function (e) {
                $('#dropzoneAvatar div').html($('<img />').attr('src', e.target.result).fadeIn());
            }
        }
        function showfileheader(file) {
            var reader = new FileReader(file);
            reader.readAsDataURL(file);
            reader.onload = function (e) {
                $('#dropzoneHeader div').html($('<img />').attr('src', e.target.result).fadeIn());
            }
        }
    </script>
    @*End*@
    @*King Check File Extension & Size*@
    <script src="~/lib/kingfuncs/fileextensionsize/fileextensionsize.js"></script>
    @*King Remaining Characters*@
    <script src="~/lib/kingfuncs/remainingcharacters/main.js"></script>
}