@* DevelopeR: Alimohammad Eghbaldar http://eghbaldar.ir *@
@using Endpoint.Site.Models.Users.GetInformation;
@using galaxypremiere.Common.Constants;
@model ModelGetInformation;
@{
    Layout = "~/Views/Shared/_LayoutInnerPages.cshtml";
}
@section Styles{
    @*Only for this page*@
    <link href="~/sitetemplate/innerpages/pagecssjs/user/me/me.css" rel="stylesheet" />
    @*King Remaining Characters*@
    <link href="~/lib/kingfuncs/remainingcharacters/main.css" rel="stylesheet" />
    @*King Password*@
    <link href="~/lib/kingfuncs/password/password.css" rel="stylesheet" />
    @*datapicker*@
    <link href="~/lib/datapicker/datepicker.min.css" rel="stylesheet" />
    @*King Tagger*@
    <link href="~/lib/kingFuncs/taggers/sellect.css" rel="stylesheet" />
}
@await Component.InvokeAsync("UserAccountNavigation")

<div id="TabUserAccount" class="TabcontentClass active">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">ACCOUNT</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="Create" id="frmAddUser" method="post">
                    
                    <div class="input-group mb-3">
                    <span class="input-group-text">Nickname</span>
                        <input type="text"
                               class="form-control"
                               id="txtNickname"
                               placeholder="John"
                               value="@GeneralConstants.Nickname">
                               <button type="button" onclick="UpdateInfoNickname()" id="btnUpdateInfoNickname" class="btn cur-p btn-primary">
                        Update
                    </button>
                    </div>
                    <div class="alert alert-warning" role="alert">
  Only your nickname will be shown throughout GalaxyPremiere, but your first, middle, and surname will only be accessible for festivals and companies.
</div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Firstname</span>
                        <input type="text"
                               class="form-control"
                               id="txtFirstname"
                               placeholder="John"
                               value=@{
                               if(Model.getUsersInformationServiceDto != null)
                                   @Model.getUsersInformationServiceDto.Firstname
                               }>

                        <span class="input-group-text">Middle Name</span>
                        <input type="text"
                               class="form-control"
                               id="txtMiddlename"
                               placeholder="Karan"
                               value=@{
                               if(Model.getUsersInformationServiceDto != null)
                                   @Model.getUsersInformationServiceDto.MiddleName
                               }>

                        <span class="input-group-text">Surname</span>
                        <input type="text"
                               class="form-control"
                               id="txtSurname"
                               placeholder="Fox"
                               value=@{
                               if(Model.getUsersInformationServiceDto != null)
                                   @Model.getUsersInformationServiceDto.Surname
                               }>
                    </div>

                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Gender</label>
                        <select class="form-select" id="selectGender">
                            <option selected>Choose...</option>
                            <option value="1" selected="@(Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Gender == 1)">Male</option>
                            <option value="2" selected="@(Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Gender == 2)">Female</option>
                            <option value="3" selected="@(Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Gender == 3)">Other</option>
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Language</label>
                        <select class="form-select" id="selectLanguage">
                            <option selected>Choose...</option>
                            @{
                                if (Model.resultGetLanguagesServiceDto != null)
                                {
                                    foreach (var lang in Model.resultGetLanguagesServiceDto.getLanguagesServiceDto)
                                    {
                                        <option value="@lang.Id"
                                    selected="@(Model.getUsersInformationServiceDto != null && lang.Id == Model.getUsersInformationServiceDto.LanguageId)">@lang.Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>

                    <div style="display:flex;">
                        <div>
                            <label class="input-group-text" style="border-radius:5px 0px 0px 5px;"
                                   for="inputGroupSelect01">Birthday</label>
                        </div>
                        <div>
                            <input readonly
                                   placeholder="select your birthday ..."
                                   style="border-radius:0px;border-left:0;" width="200"
                                   id="datepickerBirthday"
                                   value=@{
                                   if(Model.getUsersInformationServiceDto != null)
                                       @Model.getUsersInformationServiceDto.BirthDay
                                   }>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Birth City</span>
                        <input type="text"
                               class="form-control"
                               id="txtBirthcity"
                               placeholder="New York"
                               value=@{
                               if(Model.getUsersInformationServiceDto != null)
                                   @Model.getUsersInformationServiceDto.BirthCity
                               }>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Current City</span>
                        <input type="text"
                               class="form-control"
                               id="txtCurrentCity"
                               placeholder="New York"
                               value=@{
                               if(Model.getUsersInformationServiceDto != null)
                                   @Model.getUsersInformationServiceDto.CurrentCity
                               }>
                    </div>

                    <button type="button" onclick="UpdateInfoAccount()" id="btnUpdateAccount" class="btn cur-p btn-primary">
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="TabUserContact" class="TabcontentClass">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">CONTACT</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="CraeteUpdateContact" id="frmContact" method="post">

<div class="input-group mb-3">
                        <span class="input-group-text">Postal Code (Zip Code)</span>
                        <input type="text"
                               class="form-control"
                               id="txtPostalCode"
                               placeholder="33133"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.PostalCode
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Address Line 1</span>
                        <input type="text"
                               class="form-control"
                               id="txtAddress1"
                               placeholder="3015"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Address1
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Address Line 2</span>
                        <input type="text"
                               class="form-control"
                               id="txtAddress2"
                               placeholder="Grand Ave"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Address2
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">City</span>
                        <input type="text"
                               class="form-control"
                               id="txtCity"
                               placeholder="Miami"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.City
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">State</span>
                        <input type="text"
                               class="form-control"
                               id="txtState"
                               placeholder="Florida"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.State
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Country</label>
                        <select class="form-select"
                                id="selectCountry">
                            <option selected>Choose...</option>
                            @{
                                if (Model.resultGetCountriesServiceDto != null)
                                {
                                    foreach (var country in Model.resultGetCountriesServiceDto.getCountriesServiceDto)
                                    {
                                        <option value="@country.Id"
                                    selected="@(Model.getUsersInformationContactServiceDto != null && country.Id == Model.getUsersInformationContactServiceDto.CountryId)">
                                            @country.Name
                                        </option>

                                    }
                                }
                            }
                        </select>
                    </div>                    
                    <div class="input-group mb-3">
                        <span class="input-group-text">Phone</span>
                        <input type="text"
                               class="form-control"
                               id="txtPhone"
                               placeholder="(305) 447-2273"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Phone
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">RecoveryEmail</span>
                        <input type="text"
                               class="form-control"
                               id="txtRecoveryEmail"
                               placeholder="support@galaxypremiere.com"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.RecoveryEmail
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Website</span>
                        <input type="text"
                               class="form-control"
                               id="txtWebsite"
                               placeholder="www.galaxypremiere.com"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Website
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Facebook</span>
                        <input type="text"
                               class="form-control"
                               id="txtFacebook"
                               placeholder="@@galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Facebook
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Instagram</span>
                        <input type="text"
                               class="form-control"
                               id="txtInstagram"
                               placeholder="@@galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Instagram
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Twitter</span>
                        <input type="text"
                               class="form-control"
                               id="txtTwitter"
                               placeholder="@@galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Twitter
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Stage32</span>
                        <input type="text"
                               class="form-control"
                               id="txtStage32"
                               placeholder="stage32.com/galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Stage32
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Youtube</span>
                        <input type="text"
                               class="form-control"
                               id="txtYoutube"
                               placeholder="youtube.com/galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Youtube
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Linkden</span>
                        <input type="text"
                               class="form-control"
                               id="txtLinkden"
                               placeholder="@@galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Linkden
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Vimeo</span>
                        <input type="text"
                               class="form-control"
                               id="txtVimeo"
                               placeholder="vimeo.com/galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Vimeo
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">IMDb</span>
                        <input type="text"
                               class="form-control"
                               id="txtIMDb"
                               placeholder="IMDb.com/galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Imdb
                               }>
                    </div>

                    <button type="button" onclick="UpdateInfoContact()" id="btnUpdateContact" class="btn cur-p btn-primary">
                        UPDATE
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="TabUserBIO" class="TabcontentClass">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">ABOUT ME</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="UpdateBIO" id="frmBIO" method="post">

                    <div class="input-group mb-3">
                        <span class="input-group-text">Position (s) </span>
                        <div class="form-floating">
                            <div class="p-3">

                            <input type="text"
                                
                                id="kingTaggerPositions"
                                data-Iaction="../User/Positions"
                                data-elementValueTitle="position"
                                data-elementKeyTitle="id"
                                data-items=@if (Model.getUsersInformationServiceDto!= null)
                                    @Model.getUsersInformationServiceDto.Position 
                            >

                            </div>
                            <div class="ps-3 clickOnSuggestion">
                            <a  class="text-secondary" onclick="openDialougePostPosition();">I WOULD LIKE TO SUGGEST A NEW POSITION TO GALAXYPREMEIRE SYSTEM</a>
                            </DIV>
                            
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Introduction</span>
                        <div class="form-floating">
                            <textarea maxlength="300"
                                      style="height:200px"
                                      class="form-control"
                                      onkeyup="updateCounter(this,'300');"
                                      id="txtIntroduction">@{
                                    if (Model.getUsersInformationServiceDto != null)@Model.getUsersInformationServiceDto.Introduction
                                }</textarea>

                            <span class="form-label-counter" id="txtIntroductionCounter">0 / 300</span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">BIO (Resume)</span>
                        <div class="form-floating">
                            <textarea maxlength="700"
                                      row="5"
                                      style="height:200px"
                                      class="form-control"
                                      onkeyup="updateCounter(this,'7000');"
                                      id="txtBIO">@{
                                    if (Model.getUsersInformationServiceDto != null)@Model.getUsersInformationServiceDto.BIO
                                }</textarea>

                            <span class="form-label-counter" id="txtBIOCounter">0 / 7000</span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Note</span>
                        <div class="form-floating">
                            <textarea maxlength="700"
                                      row="5"
                                      style="height:200px"
                                      class="form-control"
                                      onkeyup="updateCounter(this,'7000');"
                                      id="txtNote">@{
                                    if (Model.getUsersInformationServiceDto != null)@Model.getUsersInformationServiceDto.Note
                                }</textarea>

                            <span class="form-label-counter" id="txtNoteCounter">0 / 7000</span>
                        </div>
                    </div>
                    <button type="button" onclick="UpdateInfoBIO()" id="btnUpdateBIO" class="btn cur-p btn-primary">
                        UPDATE
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="TabUserPhotos" class="TabcontentClass">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">HEADSHOT</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                @*===================*@
                <div class="alert alert-info" role="alert">
                    Upload your headshot (Avatar)
                    <ul>
                        <li>This photo will be shown on your profile and will be accessed in public.</li>
                        <li>* Click on the default photo to change or drag-and-drap your photo.</li>
                        <li>* Your file must be less than 2 MB</li>
                        <li>* The acceptable exensions: JPG, PNG, BMP</li>
                    </ul>
                </div>
                <div id="dropzoneAvatar" class="@(Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Photo!=null? "dropped" : "")">
                    <div>
                        @{
                            if (Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Photo != null)
                            {
                                <img src="~/SiteTemplate/innerpages/images/user-headshot/@Model.getUsersInformationServiceDto.Photo-original.jpg" />
                            }
                        }
                    </div>
                    <div id="HeadshotLoader" class="loader"></div>
                    <div id="HeadshotChangePhoto" class="HoverChangePhoto">CHANGE</div>
                    <input id="filedropzoneAvatar" type="file" />
                </div>

                @*===================*@
            </div>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">HEADER</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                @*===================*@
                <div class="alert alert-info" role="alert">
                    Upload your profile header
                    <ul>
                        <li>This photo will be shown on your profile and will be accessed in public.</li>
                        <li>* Click on the default photo to change or drag-and-drap your photo.</li>
                        <li>* Your file must be less than 5 MB</li>
                        <li>* The acceptable exensions: JPG, PNG, BMP</li>
                    </ul>
                </div>
                <div id="dropzoneHeader" class="@(Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Header != null ? "dropped" : "")">
                    <div id="HeaderLoader" class="loader"></div>
                    <div id="HeaderChangePhoto" class="HoverChangePhoto">CHANGE</div>
                    <input id="filedropzoneHeader" type="file" />
                </div>
                @*===================*@
            </div>
        </div>
    </div>
</div>

<div id="TabUserPrivacy" class="TabcontentClass">
    @*Username*@
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">USERNAME</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <div class="row">
                    <div class="card-body">
                        <div class="basic-form">
                            <form>
                                <div class="form-row align-items-center">
                                    <div class="col-auto">

                                        <label class="sr-only">Username</label>
                                        @{
                                            if (Model.getUsersInformationServiceDto != null)
                                            {
                                                <span class="pb-3" id="spanCurrentUsername">
                                                    <a href="https://galaxypremiere.com/@Model.getUsersInformationServiceDto.Username" target="target">
                                                        www.galaxypremiere.com/@Model.getUsersInformationServiceDto.Username
                                                    </a>
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="pb-3" id="spanCurrentUsername">
                                                    www.galaxypremiere.com/
                                                </span>
                                            }
                                        }

                                        <i id="iconCurrentUsername"></i>
                                        <div class="input-group mb-2">
                                            <span class="input-group-text">@@</span>
                                            <input type="text"
                                                   value="@{
                                                   if(Model.getUsersInformationServiceDto!=null)  
                                                        @Model.getUsersInformationServiceDto.Username
                                                   }"
                                                   data-firstValue="@{
                                                   if(Model.getUsersInformationServiceDto!=null)  
                                                        @Model.getUsersInformationServiceDto.Username
                                                   }"
                                                   id="txtUsername"
                                                   maxlength="50"
                                                   onkeyup="ChangeRuntimeUsername();"
                                                   class="form-control"
                                                   placeholder="Username">
                                        </div>
                                        @*bubble on the field*@
                                        <div class="bubble" id="bubble">
                                            <span class="pointer"></span>
                                            <span class="close" onclick="closeBubble()">&times;</span>
                                            <p id="bubbleText">To have a dedicated profile, it is necessary to assign a unique username for yourself at first.</p>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="button" onclick="UpdateInfoUsername();" id="btnUpdateUsername" class="btn btn-light mb-2">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    @*Password*@
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">PASSWORD</h4>
        </div>
        <div class="card-body">
            @*############################## KING PASSWORD #############################*@
            <div class="pb-3">
                <input type="checkbox" id="chkPassword" onchange="PasswordCheckbox(this)" />
                <label>Change Password</label>
                <span class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <span id="spanPassNotMatch" class="input-group-text"> <i class="fa fa-lock"></i> </span>
                <input type="password"
                       onkeyup="checkPassMatchRePass('#txtPassword','#txtRePassword','#spanInvalidRePassword')"
                       id="txtPassword"
                       class="form-control"
                       disabled>
                <span class="input-group-text">
                    <div id="meter"></div>
                </span>
                <span id="spanGeneratePass"
                      class="input-group-text" onclick="generatePass('#spanInvalidRePassword','#txtPassword','#txtRePassword')"
                      style="pointer-events:none;">
                    <i class="fa fa-bolt"></i>
                </span>
                <span class="input-group-text">
                    <i id="spanPassVisibilty" onclick="showPassword('txtPassword','#spanPassVisibilty')" class="fa fa-eye-slash"></i>
                </span>
                <div id="val-password1-error" class="invalid-feedback animated fadeInUp" style="display: block;"></div>
            </div>
            <div id="spanInvalidRePassword" class="text-danger"></div>
            <div class="input-group mb-3">
                <span class="input-group-text">re-Pass</span>
                <input type="password"
                       id="txtRePassword"
                       onkeyup="checkPassMatchRePass('#txtPassword','#txtRePassword','#spanInvalidRePassword')"
                       class="form-control"
                       disabled>
            </div>
            <div style="padding-bottom:15px;">
                <a href="#">I can't remember my password! (reset password)</a>
            </div>
            <button type="button" onclick="UpdateInfoPassword('#txtPassword','#txtRePassword','#spanInvalidRePassword');" id="btnUpdatePassword" class="btn btn-primary mb-2">Update</button>
            @*############################## END of KING PASSWORD #############################*@
        </div>
    </div>
    <br />
    @*Account Type = Filmmaker & Distributor & FESTIVAL TYPE & Company*@
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">ACCOUNT TYPE</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Filmmaker Type</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    You are allowed to submit freely and unlimitedly your projects to the festivals.
                                </p>
                            </div>
                            <div class="card-footer d-sm-flex justify-content-between">
                                <button id="btnAccountType0" type="button" onclick="UpdateInfoAccountType(this,'FILMMAKER');"
                                        class="
@if (Model.getUsersInformationServiceDto != null)
	if(Model.getUsersInformationServiceDto.AccountType==0)
		@("btn cur-p btn-primary")
	else
		@("btn cur-p btn-light")
else
{
	@("btn cur-p btn-primary")
}

">
                                    @if (Model.getUsersInformationServiceDto != null)
                                        if (Model.getUsersInformationServiceDto.AccountType == 0)
                                            @("Enabled")
                                        else
                                            @("Enable")
                                    else
                                    {
                                        @("Enabled")
                                    }
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Distributor Type</h5>
                            </div>
                            <div class="card-body">
                                <p class="alert alert-info">
                                    You are allowed to submit freely and unlimitedly your client's projects to the festivals.
                                    <br />
                                    After changing your account to DISTRIBUTOR TYPE, you will have to add 10 new projects at least.
                                    <br />
                                    After that, your account will be suspended temporarily until we assess your right to distribution.
                                    <br />
                                    <span class="alert alert-danger mt-3">
                                        You will be given an admission discount as a distributor.
                                    </span>
                                </p>
                            </div>
                            <div class="card-footer d-sm-flex justify-content-between">
                                <button id="btnAccountType1" type="button" onclick="UpdateInfoAccountType(this,'DISTRIBUTION');"
                                        class="
                                @if (
Model.getUsersInformationServiceDto != null &&
Model.getUsersInformationServiceDto.AccountType==1)
                                @("btn cur-p btn-primary")
                                else
                                @("btn cur-p btn-light")














">
                                    @if (Model.getUsersInformationServiceDto != null)
                                        if (Model.getUsersInformationServiceDto.AccountType == 1)
                                            @("Enabled")
                                        else
                                            @("Enable")
                                    else
                                        @("Enable")


















                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Festival Type</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little <br> bit longer. Some quick example text to build the bulk</p>
                            </div>
                            <div class="card-footer d-sm-flex justify-content-between">
                                <button id="btnAccountType2" type="button" onclick="UpdateInfoAccountType(this,'FESTIVAL');"
                                        class="
                                @if (
Model.getUsersInformationServiceDto != null &&
Model.getUsersInformationServiceDto.AccountType==2)
                                @("btn cur-p btn-primary")
                                else
                                @("btn cur-p btn-light")














">
                                    @if (Model.getUsersInformationServiceDto != null)
                                        if (Model.getUsersInformationServiceDto.AccountType == 2)
                                            @("Enabled")
                                        else
                                            @("Enable")
                                    else
                                        @("Enable")















                                </button>
                            </div>
                        </div>
                    </div>

                     <div class="col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Company Type</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">If you have a small or big company to take up a new member or advertise your stuff, let's go!</p>
                            </div>
                            <div class="card-footer d-sm-flex justify-content-between">
                                <button id="btnAccountType3" type="button" onclick="UpdateInfoAccountType(this,'COMPANY');"
                                        class="
                                @if (
Model.getUsersInformationServiceDto != null &&
Model.getUsersInformationServiceDto.AccountType==3)
                                @("btn cur-p btn-primary")
                                else
                                @("btn cur-p btn-light")
">
                                    @if (Model.getUsersInformationServiceDto != null)
                                        if (Model.getUsersInformationServiceDto.AccountType == 3)
                                            @("Enabled")
                                        else
                                            @("Enable")
                                    else
                                        @("Enable")
                                </button>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
    <br />
    @*Privacy = Mode of showing proile*@
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">PRIVACY</h4>
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <div class="button_sction padding-bottom_0" id="testt">
                    <div class="button_block">

                        <button type="button" id="btnPrivacy0" onclick="UpdateInfoPrivacy(this,'0');"
                                class="
                                @if (Model.getUsersInformationServiceDto != null)
                                    if(Model.getUsersInformationServiceDto.Privacy==0)
                                        @("btn cur-p btn-primary")
                                    else
                                        @("btn cur-p btn-light")
                                else
                                {
                                    @("btn cur-p btn-primary")
                                }">
                            Public Mode
                        </button>

                    </div>
                    <div class="button_block">
                        <button type="button" id="btnPrivacy1" onclick="UpdateInfoPrivacy(this,'1');"
                                class="
                                @if (
Model.getUsersInformationServiceDto != null &&
Model.getUsersInformationServiceDto.Privacy==1)
                                @("btn cur-p btn-primary")
                                else
                                @("btn cur-p btn-light")














">
                            Festival Mode
                        </button>
                    </div>
                    <div class="button_block">
                        <button type="button" id="btnPrivacy2" onclick="UpdateInfoPrivacy(this,'2');"
                                class="
                                @if (
Model.getUsersInformationServiceDto != null &&
Model.getUsersInformationServiceDto.Privacy==2)
                                @("btn cur-p btn-primary")
                                else
                                @("btn cur-p btn-light")














">
                            My Mode
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="TabUserOther" class="TabcontentClass">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">OTHER</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="UpdateBIO" id="frmBIO" method="post">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Time Zone</span>
                        <select class="form-select" id="select_timezone"
data-seletedItem=@{
    if(Model.getUsersInformationServiceDto != null) @(Model.getUsersInformationServiceDto.TimeZoneId)
}>
<option value="1">(GMT) Casablanca [Morocco Standard Time]</option>
<option value="2">(GMT) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London [GMT Standard Time]</option>
<option value="3">(GMT) Monrovia, Reykjavik [Greenwich Standard Time]</option>
<option value="4">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna [W. Europe Standard Time]</option>
<option value="5">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague [Central Europe Standard Time]</option>
<option value="6">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris [Romance Standard Time]</option>
<option value="7">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb [Central European Standard Time]</option>
<option value="8">(GMT+01:00) West Central Africa [W. Central Africa Standard Time]</option>
<option value="9">(GMT+02:00) Amman [Jordan Standard Time]</option>
<option value="10">(GMT+02:00) Athens, Bucharest, Istanbul [GTB Standard Time]</option>
<option value="11">(GMT+02:00) Beirut [Middle East Standard Time]</option>
<option value="12">(GMT+02:00) Cairo [Egypt Standard Time]</option>
<option value="13">(GMT+02:00) Harare, Pretoria [South Africa Standard Time]</option>
<option value="14">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius [FLE Standard Time]</option>
<option value="15">(GMT+02:00) Jerusalem [Israel Standard Time]</option>
<option value="16">(GMT+02:00) Minsk [E. Europe Standard Time]</option>
<option value="17">(GMT+02:00) Windhoek [Namibia Standard Time]</option>
<option value="18">(GMT+03:00) Baghdad [Arabic Standard Time]</option>
<option value="19">(GMT+03:00) Kuwait, Riyadh [Arab Standard Time]</option>
<option value="20">(GMT+03:00) Moscow, St. Petersburg, Volgograd [Russian Standard Time]</option>
<option value="21">(GMT+03:00) Nairobi [E. Africa Standard Time]</option>
<option value="22">(GMT+03:00) Tbilisi [Georgian Standard Time]</option>
<option value="23">(GMT+03:30) Tehran [Iran Standard Time]</option>
<option value="24">(GMT+04:00) Abu Dhabi, Muscat [Arabian Standard Time]</option>
<option value="25">(GMT+04:00) Baku [Azerbaijan Standard Time]</option>
<option value="26">(GMT+04:00) Port Louis [Mauritius Standard Time]</option>
<option value="27">(GMT+04:00) Yerevan [Caucasus Standard Time]</option>
<option value="28">(GMT+04:30) Kabul [Afghanistan Standard Time]</option>
<option value="29">(GMT+05:00) Ekaterinburg [Ekaterinburg Standard Time]</option>
<option value="30">(GMT+05:00) Islamabad, Karachi [Pakistan Standard Time]</option>
<option value="31">(GMT+05:00) Tashkent [West Asia Standard Time]</option>
<option value="32">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi [India Standard Time]</option>
<option value="33">(GMT+05:30) Sri Jayawardenepura [Sri Lanka Standard Time]</option>
<option value="34">(GMT+05:45) Kathmandu [Nepal Standard Time]</option>
<option value="35">(GMT+06:00) Almaty, Novosibirsk [N. Central Asia Standard Time]</option>
<option value="36">(GMT+06:00) Astana, Dhaka [Central Asia Standard Time]</option>
<option value="37">(GMT+06:30) Yangon (Rangoon) [Myanmar Standard Time]</option>
<option value="38">(GMT+07:00) Bangkok, Hanoi, Jakarta [SE Asia Standard Time]</option>
<option value="39">(GMT+07:00) Krasnoyarsk [North Asia Standard Time]</option>
<option value="40">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi [China Standard Time]</option>
<option value="41">(GMT+08:00) Irkutsk, Ulaan Bataar [North Asia East Standard Time]</option>
<option value="42">(GMT+08:00) Kuala Lumpur, Singapore [Singapore Standard Time]</option>
<option value="43">(GMT+08:00) Perth [W. Australia Standard Time]</option>
<option value="44">(GMT+08:00) Taipei [Taipei Standard Time]</option>
<option value="45">(GMT+09:00) Osaka, Sapporo, Tokyo [Tokyo Standard Time]</option>
<option value="46">(GMT+09:00) Seoul [Korea Standard Time]</option>
<option value="47">(GMT+09:00) Yakutsk [Yakutsk Standard Time]</option>
<option value="48">(GMT+09:30) Adelaide [Cen. Australia Standard Time]</option>
<option value="49">(GMT+09:30) Darwin [AUS Central Standard Time]</option>
<option value="50">(GMT+10:00) Brisbane [E. Australia Standard Time]</option>
<option value="51">(GMT+10:00) Canberra, Melbourne, Sydney [AUS Eastern Standard Time]</option>
<option value="52">(GMT+10:00) Guam, Port Moresby [West Pacific Standard Time]</option>
<option value="53">(GMT+10:00) Hobart [Tasmania Standard Time]</option>
<option value="54">(GMT+10:00) Vladivostok [Vladivostok Standard Time]</option>
<option value="55">(GMT+11:00) Magadan, Solomon Is., New Caledonia [Central Pacific Standard Time]</option>
<option value="56">(GMT+12:00) Auckland, Wellington [New Zealand Standard Time]</option>
<option value="57">(GMT+12:00) Fiji, Kamchatka, Marshall Is. [Fiji Standard Time]</option>
<option value="58">(GMT+13:00) Nuku'alofa [Tonga Standard Time]</option>
<option value="60">(GMT-01:00) Azores [Azores Standard Time]</option>
<option value="61">(GMT-01:00) Cape Verde Is. [Cape Verde Standard Time]</option>
<option value="62">(GMT-02:00) Mid-Atlantic [Mid-Atlantic Standard Time]</option>
<option value="63">(GMT-03:00) Brasilia [E. South America Standard Time]</option>
<option value="64">(GMT-03:00) Buenos Aires [Argentina Standard Time]</option>
<option value="65">(GMT-03:00) Georgetown [SA Eastern Standard Time]</option>
<option value="66">(GMT-03:00) Greenland [Greenland Standard Time]</option>
<option value="67">(GMT-03:00) Montevideo [Montevideo Standard Time]</option>
<option value="68">(GMT-03:30) Newfoundland [Newfoundland Standard Time]</option>
<option value="69">(GMT-04:00) Atlantic Time (Canada) [Atlantic Standard Time]</option>
<option value="70">(GMT-04:00) La Paz [SA Western Standard Time]</option>
<option value="71">(GMT-04:00) Manaus [Central Brazilian Standard Time]</option>
<option value="72">(GMT-04:00) Santiago [Pacific SA Standard Time]</option>
<option value="73">(GMT-04:30) Caracas [Venezuela Standard Time]</option>
<option value="74">(GMT-05:00) Bogota, Lima, Quito, Rio Branco [SA Pacific Standard Time]</option>
<option value="75">(GMT-05:00) Eastern Time (US & Canada) [Eastern Standard Time]</option>
<option value="76">(GMT-05:00) Indiana (East) [US Eastern Standard Time]</option>
<option value="77">(GMT-06:00) Central America [Central America Standard Time]</option>
<option value="78">(GMT-06:00) Central Time (US & Canada) [Central Standard Time]</option>
<option value="79">(GMT-06:00) Guadalajara, Mexico City, Monterrey [Central Standard Time (Mexico)]</option>
<option value="80">(GMT-06:00) Saskatchewan [Canada Central Standard Time]</option>
<option value="81">(GMT-07:00) Arizona [US Mountain Standard Time]</option>
<option value="82">(GMT-07:00) Chihuahua, La Paz, Mazatlan [Mountain Standard Time (Mexico)]</option>
<option value="83">(GMT-07:00) Mountain Time (US & Canada) [Mountain Standard Time]</option>
<option value="84">(GMT-08:00) Pacific Time (US & Canada) [Pacific Standard Time]</option>
<option value="85">(GMT-08:00) Tijuana, Baja California [Pacific Standard Time (Mexico)]</option>
<option value="86">(GMT-09:00) Alaska [Alaskan Standard Time]</option>
<option value="87">(GMT-10:00) Hawaii [Hawaiian Standard Time]</option>
<option value="88">(GMT-11:00) Midway Island, Samoa [Samoa Standard Time]</option>
<option value="89">(GMT-12:00) International Date Line West [Dateline Standard Time]</option>
</select>
                    </div>

                     <div class="input-group mb-3">
                        <span class="input-group-text">Currency</span>
                        <select class="form-select" id="select_currency"
                        data-seletedItem=@{
    if(Model.getUsersInformationServiceDto != null) @(Model.getUsersInformationServiceDto.CurrencyId)
}
                        >
<option selected="selected" value="1">USD $ - United States dollar</option>
<option value="2">CAD $ - Canadian dollar</option>
<option value="3">EUR € - Euro</option>
<option value="4">AUD $ - Australian dollar</option>
<option value="5">BRL R$ - Brazilian real</option>
<option value="6">BGN лв - Bulgarian lev</option>
<option value="7">CLP $ - Chilean peso</option>
<option value="8">CNY ￥- Chinese yuan</option>
<option value="9">COP $ - Colombian peso</option>
<option value="10">CRC ₡ - Costa Rican colón</option>
<option value="11">CZK Kč - Czech koruna</option>
<option value="12">DKK kr - Danish krone</option>
<option value="13">HKD $ - Hong Kong dollar</option>
<option value="14">HUF Ft - Hungarian forint</option>
<option value="15">INR ₹ - Indian rupee</option>
<option value="16">ILS ₪ - Israeli new shekel</option>
<option value="17">JPY ¥ - Japanese yen</option>
<option value="18">KZT ₸ - Kazakhstani tenge</option>
<option value="19">MYR RM - Malaysian ringgit</option>
<option value="20">MXN $ - Mexican peso</option>
<option value="21">MAD MAD - Moroccan dirham</option>
<option value="22">TWD $ - New Taiwan dollar</option>
<option value="23">NZD $ - New Zealand dollar</option>
<option value="24">NOK kr - Norwegian krone</option>
<option value="25">PEN S/ - Peruvian sol</option>
<option value="26">PHP ₱ - Philippine peso</option>
<option value="27">PLN zł - Polish złoty</option>
<option value="28">GBP £ - Pound sterling</option>
<option value="29">RON lei - Romanian leu</option>
<option value="30">RUB ₽ - Russian ruble</option>
<option value="31">SAR SR - Saudi riyal</option>
<option value="32">SGD $ - Singapore dollar</option>
<option value="33">ZAR R - South African rand</option>
<option value="34">KRW ₩ - South Korean won</option>
<option value="35">SEK kr - Swedish krona</option>
<option value="36">CHF CHF - Swiss franc</option>
<option value="37">THB ฿ - Thai baht</option>
<option value="38">TRY ₺ - Turkish lira</option>
<option value="39">AED AED - United Arab Emirates dirham</option>
<option value="40">UYU $U - Uruguayan peso</option>
</select>
                    </div>

                    <button type="button" onclick="UpdateOther()" id="btnUpdateOther" class="btn cur-p btn-primary">
                        UPDATE
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @*King Password*@
    <script src="~/lib/kingfuncs/password/password.js"></script>
    @*Datapicker*@
    <script src="~/lib/datapicker/datapicker.js"></script>
    <script>
        $('#datepickerBirthday').datepicker({
            uiLibrary: 'bootstrap5'
        });
    </script>
    @*King Check File Extension & Size*@
    <script src="~/lib/kingfuncs/fileextensionsize/fileextensionsize.js"></script>
    @*King Remaining Characters*@
    <script src="~/lib/kingfuncs/remainingcharacters/main.js"></script>
    @*Check GetUsersInformationServiceDto.Header Model*@
    @{
        if (Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Header != null)
        {
            <script>
                var header = @(Html.Raw(Json.Serialize(@Model.getUsersInformationServiceDto.Header)));
                $("#dropzoneHeader").css("background", "url('" + "../../SiteTemplate/innerpages/images/user-header/" + header +"-original.jpg" + "') center/cover");
            </script>
        }
        if (Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Photo != null)
        {
            <script>
                $("#dropzoneAvatar").css("background-image", "none");
            </script>
        }
    }
        @* Tabs *@
    <script src="~/sitetemplate/innerpages/plugins/tabNavigation/tab.js"></script>
    @*Executive Functions : Only for this page*@
    <script src="~/SiteTemplate/innerpages/pagecssjs/user/me/me.js"></script>
    @*King Tagger*@
    <script src="~/lib/kingFuncs/taggers/sellect.js"></script>
}

