@* DevelopeR: Alimohammad Eghbaldar http://eghbaldar.ir *@
@using Endpoint.Site.Models.Users.GetInformation;
@model ModelGetInformation;
@{
    Layout = "~/Views/Shared/_LayoutInnerPages.cshtml";
}
@section Styles{
    @*datapicker*@
    <link href="~/lib/datapicker/datepicker.min.css" rel="stylesheet" />
    @*end of datapicker*@
}
@await Component.InvokeAsync("UserAccountNavigation") <i class="mdi mdi-chevron-down"></i>

<div id="TabUserAccount" class="TabUserTabcontent">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">ACCOUNT</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="Create" id="frmAddUser" method="post">

                    <div class="input-group mb-3">
                        <span class="input-group-text">Firstname</span>
                        <input type="text"
                               class="form-control"
                               id="txtFirstname"
                               placeholder="for example: John"
                               value=@{
                               if(Model.getUsersInformationServiceDto != null)
                                   @Model.getUsersInformationServiceDto.Firstname
                               }>

                        <span class="input-group-text">Middle Name</span>
                        <input type="text"
                               class="form-control"
                               id="txtMiddlename"
                               placeholder="forexample: Karan"
                               value=@{
                               if(Model.getUsersInformationServiceDto != null)
                                   @Model.getUsersInformationServiceDto.MiddleName
                               }>

                        <span class="input-group-text">Surname</span>
                        <input type="text"
                               class="form-control"
                               id="txtSurname"
                               placeholder="for example: Fox"
                               value=@{
                               if(Model.getUsersInformationServiceDto != null)
                                   @Model.getUsersInformationServiceDto.Surname
                               }>
                    </div>

                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Gender</label>
                        <select class="form-select" id="selectGender">
                            <option selected>Choose...</option>
                            <option value="1" selected="@(Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Gender == 1)">Male</option>
                            <option value="2" selected="@(Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Gender == 2)">Female</option>
                            <option value="3" selected="@(Model.getUsersInformationServiceDto != null && Model.getUsersInformationServiceDto.Gender == 4)">Other</option>
                        </select>
                    </div>

                    @*&& Model.getUsersInformationServiceDto != null*@
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Country</label>
                        <select class="form-select"
                                id="selectCountry">
                            <option selected>Choose...</option>
                            @{
                                if (Model.resultGetCountriesServiceDto != null)
                                {
                                    foreach (var country in Model.resultGetCountriesServiceDto.getCountriesServiceDto)
                                    {
                                        <option value="@country.Id"
                                    selected="@(Model.getUsersInformationServiceDto != null && country.Id == Model.getUsersInformationServiceDto.CountryId)">
                                            @country.Name
                                        </option>

                                    }
                                }
                            }
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Language</label>
                        <select class="form-select" id="selectLanguage">
                            <option selected>Choose...</option>
                            @{
                                if (Model.resultGetLanguagesServiceDto != null)
                                {
                                    foreach (var lang in Model.resultGetLanguagesServiceDto.getLanguagesServiceDto)
                                    {
                                        <option value="@lang.Id"
                                    selected="@(Model.getUsersInformationServiceDto != null && lang.Id == Model.getUsersInformationServiceDto.LanguageId)">@lang.Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>

                    <div style="display:flex;">
                        <div>
                            <label class="input-group-text" style="border-radius:5px 0px 0px 5px;"
                                   for="inputGroupSelect01">Birthday</label>
                        </div>
                        <div>
                            <input readonly
                                   placeholder="select your birthday ..."
                                   style="border-radius:0px;border-left:0;" width="200"
                                   id="datepickerBirthday"
                                   value=@{
                                   if(Model.getUsersInformationServiceDto != null)
                                       @Model.getUsersInformationServiceDto.BirthDay
                                   }>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Birth City</span>
                        <input type="text"
                               class="form-control"
                               id="txtBirthcity"
                               placeholder="for example: New York"
                               value=@{
                               if(Model.getUsersInformationServiceDto != null)
                                   @Model.getUsersInformationServiceDto.BirthCity
                               }>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Current City</span>
                        <input type="text"
                               class="form-control"
                               id="txtCurrentCity"
                               placeholder="for example: New York"
                               value=@{
                               if(Model.getUsersInformationServiceDto != null)
                                   @Model.getUsersInformationServiceDto.CurrentCity
                               }>
                    </div>


                    <button type="button" onclick="UpdateInfoAccount()" id="btnAddUser" class="btn btn-rounded btn-info">
                        <span class="btn-icon-left text-info">
                            <i class="fa fa-plus color-info"></i>
                        </span>Add
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="TabUserContact" class="TabUserTabcontent">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">ACCOUNT</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="CraeteUpdateContact" id="frmContact" method="post">

                    <div class="input-group mb-3">
                        <span class="input-group-text">Address Line 1</span>
                        <input type="text"
                               class="form-control"
                               id="txtAddress1"
                               placeholder="3015"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Address1
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Address Line 2</span>
                        <input type="text"
                               class="form-control"
                               id="txtAddress2"
                               placeholder="Grand Ave"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Address2
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">City</span>
                        <input type="text"
                               class="form-control"
                               id="txtCity"
                               placeholder="Miami"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.City
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">State</span>
                        <input type="text"
                               class="form-control"
                               id="txtState"
                               placeholder="Florida"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.State
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Postal Code (Zip Code)</span>
                        <input type="text"
                               class="form-control"
                               id="txtPostalCode"
                               placeholder="33133"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.PostalCode
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Phone</span>
                        <input type="text"
                               class="form-control"
                               id="txtPhone"
                               placeholder="(305) 447-2273"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Phone
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">RecoveryEmail</span>
                        <input type="text"
                               class="form-control"
                               id="txtRecoveryEmail"
                               placeholder="support@galaxypremiere.com"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.RecoveryEmail
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Website</span>
                        <input type="text"
                               class="form-control"
                               id="txtWebsite"
                               placeholder="www.galaxypremiere.com"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Website
                               }>
                    </div>                    
                    <div class="input-group mb-3">
                        <span class="input-group-text">Facebook</span>
                        <input type="text"
                               class="form-control"
                               id="txtFacebook"
                               placeholder="@@galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Facebook
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Instagram</span>
                        <input type="text"
                               class="form-control"
                               id="txtInstagram"
                               placeholder="@@galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Instagram
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Twitter</span>
                        <input type="text"
                               class="form-control"
                               id="txtTwitter"
                               placeholder="@@galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Twitter
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Stage32</span>
                        <input type="text"
                               class="form-control"
                               id="txtStage32"
                               placeholder="stage32.com/galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Stage32
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Youtube</span>
                        <input type="text"
                               class="form-control"
                               id="txtYoutube"
                               placeholder="youtube.com/galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Youtube
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Linkden</span>
                        <input type="text"
                               class="form-control"
                               id="txtLinkden"
                               placeholder="@@galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Linkden
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Vimeo</span>
                        <input type="text"
                               class="form-control"
                               id="txtVimeo"
                               placeholder="vimeo.com/galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Vimeo
                               }>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">IMDb</span>
                        <input type="text"
                               class="form-control"
                               id="txtIMDb"
                               placeholder="IMDb.com/galaxypremiere"
                               value=@{
                               if(Model.getUsersInformationContactServiceDto != null)
                                   @Model.getUsersInformationContactServiceDto.Imdb
                               }>
                    </div>

                    <button type="button" onclick="UpdateInfoContact()" id="" class="btn btn-rounded btn-info">
                        <span class="btn-icon-left text-info">
                            <i class="fa fa-plus color-info"></i>
                        </span>UPDATE CONTACT
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @*Datapicker*@
    <script src="~/lib/datapicker/datapicker.js"></script>
    <script>
        $('#datepickerBirthday').datepicker({
            uiLibrary: 'bootstrap5'
        });
    </script>
    @*End of Datapicker*@

    <script>
        function UpdateInfoAccount() {
            var firstname = $('#txtFirstname').val();
            var middlename = $('#txtMiddlename').val();
            var surname = $('#txtSurname').val();
            var genderId = $('#selectGender').val();
            var countryId = $('#selectCountry').val();
            var languageId = $('#selectLanguage').val();
            var birthday = $('#datepickerBirthday').val();
            var birthcity = $('#txtBirthcity').val();
            var currentCity = $('#txtCurrentCity').val();

            var postData = {
                'Firstname': firstname,
                'MiddleName': middlename,
                'Surname': surname,
                'Gender': genderId,
                'CountryId': countryId,
                'LanguageId': languageId,
                'BirthDay': birthday,
                'BirthCity': birthcity,
                'CurrentCity': currentCity,
            }
            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: 'POST',
                data: postData,
                url: 'MeAccount',
                success: function (data) {
                    Swal.fire(data.message);
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
        }
        function UpdateInfoContact() {
            var address1 = $('#txtAddress1').val();
            var address2 = $('#txtAddress2').val();
            var city = $('#txtCity').val();
            var state = $('#txtState').val();
            var postalCode = $('#txtPostalCode').val();
            var phone = $('#txtPhone').val();
            var recoveryEmail = $('#txtRecoveryEmail').val();
            var website = $('#txtWebsite').val();
            var facebook = $('#txtFacebook').val();
            var instagram = $('#txtInstagram').val();
            var twitter = $('#txtTwitter').val();
            var stage32 = $('#txtStage32').val();
            var youtube = $('#txtYoutube').val();
            var linkden = $('#txtLinkden').val();
            var vimeo = $('#txtVimeo').val();
            var imdb = $('#txtIMDb').val();

            var postData = {
                'Address1': address1,
                'Address2': address2,
                'City': city,
                'State': state,
                'PostalCode': postalCode,
                'Phone': phone,
                'RecoveryEmail': recoveryEmail,
                'Website': website,
                'Facebook': facebook,
                'Instagram': instagram,
                'Twitter': twitter,
                'Stage32': stage32,
                'Youtube': youtube,
                'Linkden': linkden,
                'Vimeo': vimeo,
                'Imdb': imdb,
            }
            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: 'POST',
                data: postData,
                url: 'MeContact',
                success: function (data) {
                    Swal.fire(data.message);
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
        }
    </script>

    @*Tabs*@
    <script>
        function userAccountNavigation(evt, tabName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("TabUserTabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(tabName).style.display = "block";
            //alert(evt.currentTarget.className);
            evt.currentTarget.className += " active";
        }
        document.getElementById("TabUserAccountDefaultOpen").click();
    </script>
    @*End of Tabs*@
}