@* DevelopeR: Alimohammad Eghbaldar http://eghbaldar.ir *@
@using Endpoint.Site.Models.Users.GetPhoto
@using galaxypremiere.Application.Services.UsersPhotos.Queries.GetUsersPhotoAlbum;
@model dynamic
@{
    Layout = "~/Views/Shared/_LayoutInnerPages.cshtml";
}
@await Component.InvokeAsync("UserPhotosNavigation")

<div id="TabUserAlbums" class="TabcontentClass active">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">ALBUMS</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <!-- Gallery section -->
                <div class="col-md-12">
                    <div class="white_shd full margin_bottom_30">
                        <div class="row mt-3" id="divAlbum">
                            <div class="col-sm-4 col-md-3 margin_bottom_30 album">
                                <div class="column">
                                    <a data-fancybox="gallery"
                                       onclick="OpenModalAddAlbum();">
                                        <img class="img-responsive img-crop-square"
                                             src="~/SiteTemplate/innerpages/images/layout_img/addAlbumProfile.svg" alt="#">
                                    </a>
                                </div>
                                <div class="heading_section">
                                    <h4>+ ADD A NEW ALBUM</h4>
                                </div>
                            </div>
                            @*@foreach (GetUsersPhotoAlbumServiceDto album in Model.Album.resultGetUsersPhotoAlbumServiceDto){}*@
                            @for (int i = 0; i <= Model.Album.resultGetUsersPhotoAlbumServiceDto.Count - 1; i++)
                            {
                                <div class="col-sm-4 col-md-3 margin_bottom_30 album" id="divAlbum_@Model.Album.resultGetUsersPhotoAlbumServiceDto[i].Id">
                                    <div class="column">
                                        <a data-fancybox="gallery" onclick="OpenAlbum('@Model.Album.resultGetUsersPhotoAlbumServiceDto[i].Id')">
                                            @if (Model.Album.resultGetUsersPhotoAlbumServiceDto[i].RandomPhoto == null)
                                            {
                                                <img class="img-responsive img-crop-square albumCover_@Model.Album.resultGetUsersPhotoAlbumServiceDto[i].Id"
                                             src="~/SiteTemplate/innerpages/images/layout_img/addPhotoProfile.svg">
                                            }
                                            else
                                            {
                                                <img class="img-responsive img-crop-square albumCover_@Model.Album.resultGetUsersPhotoAlbumServiceDto[i].Id"
                                             src="~/SiteTemplate/innerpages/images/user-photos/@Model.Album.resultGetUsersPhotoAlbumServiceDto[i].RandomPhoto">
                                            }

                                        </a>
                                        <div class="divAlbumMenu">
                                            <div class="dropdown">
                                                <button class="dropbtn">
                                                    <i class="fa fa-ellipsis-v"></i>
                                                </button>
                                                <div class="dropdown-content">
                                                    <a onclick="OpenAlbum('@Model.Album.resultGetUsersPhotoAlbumServiceDto[i].Id')">Photos</a>
                                                    <a onclick="DeletePhotoAlbum('@Model.Album.resultGetUsersPhotoAlbumServiceDto[i].Id')">Delete</a>
                                                    <a onclick="UpdatePhotoAlbumTitle('@Model.Album.resultGetUsersPhotoAlbumServiceDto[i].Id')">Rename</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="heading_section">
                                        <h4>
                                            <span id="titleAlbumH4_@Model.Album.resultGetUsersPhotoAlbumServiceDto[i].Id">
                                                @Model.Album.resultGetUsersPhotoAlbumServiceDto[i].Title
                                                </span>
                                            </h4>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="TabUserPhotos" class="TabcontentClass">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"><span id="spanAlbumName">Loading Album ...</span> <span class="splitter">| PHOTOS</span></h4>
        </div>
        <div class="card-body p-0">
            @*<div class="basic-form">*@

            <input type="hidden" id="hiddenAlbumId" />
            @*88888888888888888888888888888888888888888888*@
            <div id="dropzoneAvatar" class="dropped m-0">
                <div>
                    <img src="~/SiteTemplate/innerpages/images/user-headshot/" />
                </div>
                <div id="HeadshotLoader" class="loader"></div>
                <div id="HeadshotChangePhoto" class="HoverChangePhoto">CLICK OR DRAG TO UPLOAD</div>
                <input id="filedropzoneAvatar" type="file" />
            </div>
            @*88888888888888888888888888888888888888888888*@
            <!-- Gallery -->
            <div class="containerG p-2" id="containerPhotos">
                <div class="rowG">
                    @if (Model.Photo.resultGetUsersPhotoPhotosServiceDto != null)
                    {
                        @for (int i = 0; i <= Model.Photo.resultGetUsersPhotoPhotosServiceDto.Count - 1; i++)
                        {
                            <input type="hidden" id="hiddenPhotoDetail_@Model.Photo.resultGetUsersPhotoPhotosServiceDto[i].Id" value="@Model.Photo.resultGetUsersPhotoPhotosServiceDto[i].Detail" />
                            <input type="hidden" id="hiddenPhotoTitle_@Model.Photo.resultGetUsersPhotoPhotosServiceDto[i].Id" value="@Model.Photo.resultGetUsersPhotoPhotosServiceDto[i].Title" />
                            <div class="itemG @Model.Photo.resultGetUsersPhotoPhotosServiceDto[i].UsersAlbumsId" hidden
                         id="photo_@Model.Photo.resultGetUsersPhotoPhotosServiceDto[i].Id">
                                <a class="imgG" onclick="OpenModalPhoto('@Model.Photo.resultGetUsersPhotoPhotosServiceDto[i].Id','@Model.Photo.resultGetUsersPhotoPhotosServiceDto[i].Title','@Model.Photo.resultGetUsersPhotoPhotosServiceDto[i].Detail','@Model.Photo.resultGetUsersPhotoPhotosServiceDto[i].Filename')">
                                    <img src="~/SiteTemplate/innerpages/images/user-photos/@Model.Photo.resultGetUsersPhotoPhotosServiceDto[i].Filename"
                                 class="rounded"
                                 alt="@Model.Photo.resultGetUsersPhotoPhotosServiceDto[i].Title" />
                                </a>
                                <span class="caption" onclick="OpenModalPhoto('@Model.Photo.resultGetUsersPhotoPhotosServiceDto[i].Id','@Model.Photo.resultGetUsersPhotoPhotosServiceDto[i].Title','@Model.Photo.resultGetUsersPhotoPhotosServiceDto[i].Detail','@Model.Photo.resultGetUsersPhotoPhotosServiceDto[i].Filename')">
                                    <a>
                                        @if (Model.Photo.resultGetUsersPhotoPhotosServiceDto[i].Title == null)
                                        {
                                            <span id="spanTitle_@Model.Photo.resultGetUsersPhotoPhotosServiceDto[i].Id">- unknown title -</span>
                                        }
                                        else
                                        {
                                            <span id="spanTitle_@Model.Photo.resultGetUsersPhotoPhotosServiceDto[i].Id">@Model.Photo.resultGetUsersPhotoPhotosServiceDto[i].Title </span>
                                        }
                                    </a>
                                </span>

                            </div>
                        }
                    }
                </div>
            </div>
            <!-- Gallery -->
            @*</div>*@
        </div>
    </div>
</div>

<!-- Modal Photo -->
<div class="modal fade" id="modalPhoto">

    <input id="HiddenPhotoID" type="hidden" />

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">PHOTO DETAIL</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row ">
                        <div class="col-md text-center">
                            <img id="photo" class="rounded img-fluid" />
                            <div class="inputs p-2">
                                <div class="inputSwitch">
                                    <span class="spanInputSwitch fw-bold" id="txtPhotoTitleSpan"></span>
                                    <input id="txtPhotoTitle" class="form-control" hidden />
                                </div>
                                <div class="inputSwitch">
                                    <span class="spanInputSwitch" style=" white-space: pre-line;" id="txtPhotoDetailSpan"></span>
                                    <textarea id="txtPhotoDetail" class="form-control" cols="40" rows="5" hidden></textarea>
                                </div>
                            </div>

                            <hr />
                            <a href="#" class="sharedIcon fa fa-facebook"></a>
                            <a href="#" class="sharedIcon fa fa-linkedin"></a>
                            <a href="#" class="sharedIcon fa fa-twitter"></a>
                            <a href="#" class="sharedIcon fa fa-google"></a>
                            <a href="#" class="sharedIcon fa fa-instagram"></a>
                            <a href="#" class="sharedIcon fa fa-pinterest"></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <div class="icon_info">
                    <div class="float-sm-end">
                        <button type="button"
                                onclick="DeletePhotoPhoto();" class="btn btn-secondary">
                            DELETE PHOTO
                        </button>
                    </div>
                    <ul>
                        <li><a href="#" class="fa fa-heart-o"><span class="badge">3</span></a></li>
                    </ul>
                    <ul>
                        <li><a href="#" class="fa fa-comments-o"><span class="badge">3</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <link href="~/sitetemplate/innerpages/pagecssjs/user/photos/photos.css" rel="stylesheet" />
}

@section Scripts{
    @* Tabs *@
    <script src="~/sitetemplate/innerpages/plugins/tabNavigation/tab.js"></script>
    @* File Extension and Volume *@
    <script src="~/lib/kingfuncs/fileextensionsize/fileextensionsize.js"></script>
    @* Functions *@
    <script src="~/sitetemplate/innerpages/pagecssjs/user/photos/photos.js"></script>
}
