@* DevelopeR: Alimohammad Eghbaldar http://eghbaldar.ir *@
@using Endpoint.Site.Models.Users.GetProfile
@model ModelGetProfile
@{
    Layout = "~/Views/Shared/_LayoutInnerPages.cshtml";
}
@section Styles{
    <!-- Modal -->
    <link href="~/modal/modal-user-companies.css" rel="stylesheet" />
    @*Only for this page*@

    @*datapicker*@
    <link href="~/lib/datapicker/datepicker.min.css" rel="stylesheet" />
    <style>
        .btn-skype {
            background: #00aff0;
            border-color: #00aff0;
            color: #fff;
        }

        fieldset {
            border: 1px dashed #E0E0E0 !important;
            padding: 0 1.4em 1.4em 1.4em !important;
            -webkit-box-shadow: 0px 0px 0px 0px #000;
            box-shadow: 0px 0px 0px 0px #000;
            margin-top: 15px !important;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }

        legend {
            font-size: 1.2em !important;
            font-weight: bold !important;
            text-align: left !important;
            width: auto;
            padding: 0 10px;
            border-bottom: none;
            margin-top: -15px;
            background-color: white;
            color: #808080;
        }

        .add_new_frm_field_btn, .add_new_frm_field_favorite_movie_btn, .add_new_frm_field_companies_btn {
            padding: 15px !important;
            border: 2px dotted gray;
            background-color: white;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }

        .add_icon {
            color: black;
        }

        .btn_round {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            border: 0px !important;
            background-color: #f2f2f2;
        }

        .fa-trash-alt {
            padding: 10px;
            color: #808080;
        }
    </style>
}
@await Component.InvokeAsync("UserProfileNavigation")

<div id="TabUserEducation" class="TabcontentClass active">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Eduction</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="Create" id="frmEducationalCases" method="post">
                    <div class="form_field_outer">
                        @for (byte i = 0; i <= Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto.Count - 1; i++)
                        {
                            <div class="row form_field_outer_row" id="educational_form_@i">
                                <fieldset>
                                    <legend>Educational Case</legend>
                                    <input type="hidden"
                                       id="hiddenEducationalCase_@i"
                                       value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Id" />
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Name</span>
                                        <input type="text"
                                           class="form-control"
                                           id="txtSchoolName_@i"
                                           value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Name"
                                           placeholder="School, Instituion, College, University Name">
                                    </div>

                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Field of Study</span>
                                        <input type="text"
                                           class="form-control"
                                           id="txtField_@i"
                                           value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Field"
                                           placeholder="Directing, Software engineering, ...">
                                    </div>

                                    <div style="display:flex;">
                                        <div>
                                            <label class="input-group-text" style="border-radius:5px 0px 0px 5px;"
                                               for="inputGroupSelect01">From</label>
                                        </div>
                                        <div>
                                            <input readonly
                                               placeholder="Starting date of Eduction"
                                               style="border-radius:0px;border-left:0;" width="300"
                                               value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].From"
                                               id="datepickerFrom_@i">
                                        </div>
                                    </div>

                                    <div style="display:flex;">
                                        <div>
                                            <label class="input-group-text" style="border-radius:5px 0px 0px 5px;"
                                               for="inputGroupSelect01">To</label>
                                        </div>
                                        <div>
                                            <input readonly
                                               placeholder="Ending date of Eduction"
                                               style="border-radius:0px;border-left:0;" width="300"
                                               value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].To"
                                               id="datepickerTo_@i">
                                        </div>
                                    </div>

                                    <div class="form-group col-md-2 add_del_btn_outer">
                                        <button type="button" class="btn_round remove_node_btn_frm_field"
                                            id="btnRemoveNodeBtnFrmField_@i"
                                            onclick="DeleteProfileEducation(this,'@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Id')">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>

                                </fieldset>

                            </div>
                        }
                    </div>
                    <div class="input-group mt-3">
                        <button type="button" class="add_new_frm_field_btn">
                            <i class="fas fa-plus add_icon"></i> Add New Educational Case
                        </button>
                        <br />
                        <button type="button" onclick="GetProfileEducationElements()"
                                id="btnUpdateProfileEducations" class="btn cur-p btn-primary" disabled>
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="TabUserFavoriteMovie" class="TabcontentClass">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Favorite Movies</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="Create" id="frmFavoriteMovies" method="post">
                    <div class="form_field_outer_favoriteMovie">
                        @for (byte i = 0; i <= Model.ResultGetUserProfileFavoriteMoviesServiceDto.getUserProfileFavoriteMoviesServiceDto.Count - 1; i++)
                        {
                            <div class="row form_field_outer_row_favoriteMovie" id="favoriteMovie_form_@i">
                                <fieldset>
                                    <legend>Favorite Movie</legend>
                                    <input type="hidden"
                                       id="hiddenFavoriteMovie_@i"
                                       value="@Model.ResultGetUserProfileFavoriteMoviesServiceDto.getUserProfileFavoriteMoviesServiceDto[i].Id" />
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">IMDb Movie Link</span>
                                        <input type="text"
                                           onkeypress="if(event.keyCode === 13)event.preventDefault();"
                                           class="form-control"
                                           onkeyup="checkRuntimeValidationUrl(this)"
                                           id="txtMovieLink_@i"
                                           value="@Model.ResultGetUserProfileFavoriteMoviesServiceDto.getUserProfileFavoriteMoviesServiceDto[i].ImdbLink"
                                           placeholder="https://www.imdb.com/title/tt0068646/">
                                        <button type="button"
                                            id="btnCheckTheLink_@i"
                                            onclick="CheckTheLink(this,'txtMovieLink_@i')"
                                            class="btn cur-p btn-primary">
                                            CHECK THE LINK
                                            <span class="btn-icon-right"></span>
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </div>

                                    <div class="form-group col-md-2 add_del_btn_outer">
                                        <button type="button" class="btn_round remove_node_btn_frm_field_FavoriteMovie"
                                            onclick="DeleteProfileFavoriteMovies(this,'@Model.ResultGetUserProfileFavoriteMoviesServiceDto.getUserProfileFavoriteMoviesServiceDto[i].Id')"
                                            id="btnRemoveNodeBtnFrmFieldFavoriteMovie_@i">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>

                                </fieldset>

                            </div>
                        }
                    </div>
                    <div class="input-group mt-3">
                        <button type="button" class="add_new_frm_field_favorite_movie_btn">
                            <i class="fas fa-plus add_icon"></i> Add New Favorite Movie
                        </button>
                        <br />
                        <button type="button" onclick="GetProfileFavoriteMoviesElements()"
                                id="btnUpdateProfileFavoriteMovies" class="btn cur-p btn-primary" disabled>
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="TabUserCompany" class="TabcontentClass">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Company</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="Create" id="frmCompanies" method="post">
                    <div class="form_field_outer_companies">
                        @for (byte i = 0; i <= Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto.Count - 1; i++)
                        {
                            <div class="row form_field_outer_companies_row" id="company_form_@i">
                                <fieldset>
                                    <legend>Company</legend>
                                    <input type="hidden"
                                       id="hiddenCompany_@i"
                                       value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Id" />

                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="inputGroupSelect01">Country</label>
                                        <select class="form-select"
                                            id="selectCountry">
                                            <option selected>Choose...</option>
                                            @{
                                                if (Model.resultGetCountriesServiceDto != null)
                                                {
                                                    foreach (var country in Model.resultGetCountriesServiceDto.getCountriesServiceDto)
                                                    {
                                                        <option value="@country.Id">
                                                            @country.Name
                                                        </option>

                                                    }
                                                }
                                            }
                                        </select>
                                    </div>

                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Company Name</span>
                                        <input type="text"
                                           class="form-control"
                                           id="txtCompanylName_@i"
                                           value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Name"
                                           placeholder="Microsoft, Amazon, Google, ...">
                                        <span class="input-group-text">Position</span>
                                        <input type="text"
                                           class="form-control"
                                           id="txtCompanyPosition_@i"
                                           value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Field"
                                           placeholder="CEO, Editor, Poster Designer, ....">
                                    </div>


                                    <div style="display:flex;">
                                        <div>
                                            <label class="input-group-text" style="border-radius:5px 0px 0px 5px;"
                                               for="inputGroupSelect01">From</label>
                                        </div>
                                        <div>
                                            <input readonly
                                               placeholder="Starting date of Eduction"
                                               style="border-radius:0px;border-left:0;" width="300"
                                               value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].From"
                                               id="datepickerCompanyFrom_@i">
                                        </div>
                                    </div>

                                    <div style="display:flex;">
                                        <div>
                                            <label class="input-group-text" style="border-radius:5px 0px 0px 5px;"
                                               for="inputGroupSelect01">To</label>
                                        </div>
                                        <div>
                                            <input readonly
                                               placeholder="Ending date of Eduction"
                                               style="border-radius:0px;border-left:0;" width="300"
                                               value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].To"
                                               id="datepickerCompanyTo_@i">
                                        </div>
                                    </div>
                                    <div>
                                        <a href="#" onclick="$('#loginModal').modal();">
                                            [Click to set more information]
                                        </a>
                                    </div>

                                    <div class="form-group col-md-2 add_del_btn_outer">
                                        <button type="button" class="btn_round remove_node_btn_frm_field_company"
                                            id="btnRemoveNodeBtnFrmField_@i"
                                            onclick="DeleteProfileCompany(this,'@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Id')">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>

                                </fieldset>

                            </div>

                            @*MODAL*@
                            <div class="modal fade" id="loginModal" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2>MORE INFORMATION</h2>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Address Line 1</span>
                                            <input type="text"
                                               class="form-control"
                                               id="txtCompanyAddress1_@i"
                                               value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Name"
                                               placeholder="3015">
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Address Line 2</span>
                                            <input type="text"
                                               class="form-control"
                                               id="txtCompanyAddress2_@i"
                                               value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Field"
                                               placeholder="Grand Ave">
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">City</span>
                                            <input type="text"
                                               class="form-control"
                                               id="txtCompanyCity_@i"
                                               value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Name"
                                               placeholder="Miami">
                                            <span class="input-group-text">State</span>
                                            <input type="text"
                                               class="form-control"
                                               id="txtCompanyState_@i"
                                               value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Name"
                                               placeholder="Florida">
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">PostCode</span>
                                            <input type="text"
                                               class="form-control"
                                               id="txtCompanyPostCode_@i"
                                               value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Name"
                                               placeholder="33133">
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Phone</span>
                                            <input type="text"
                                               class="form-control"
                                               id="txtCompanyPhone_@i"
                                               value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Name"
                                               placeholder="(305) 447-2273">
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Email</span>
                                            <input type="text"
                                               class="form-control"
                                               id="txtCompanyEmail_@i"
                                               value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Name"
                                               placeholder="support@galaxypremiere.com">
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Website</span>
                                            <input type="text"
                                               class="form-control"
                                               id="txtCompanyWebsite_@i"
                                               value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Name"
                                               placeholder="www.galaxypremiere.com">
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Facebook ID</span>
                                            <input type="text"
                                               class="form-control"
                                               id="txtCompanyFacebook_@i"
                                               value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Name"
                                               placeholder="@@galaxypremiere">
                                            <span class="input-group-text">Instagram ID</span>
                                            <input type="text"
                                               class="form-control"
                                               id="txtCompanyInstagram_@i"
                                               value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Name"
                                               placeholder="@@galaxypremiere">
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Twitter ID</span>
                                            <input type="text"
                                               class="form-control"
                                               id="txtCompanyTwitter_@i"
                                               value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Name"
                                               placeholder="@@galaxypremiere">
                                            <span class="input-group-text">Stage32 ID</span>
                                            <input type="text"
                                               class="form-control"
                                               id="txtCompanyStage32_@i"
                                               value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Name"
                                               placeholder="stage32.com/galaxypremiere">
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Youtube</span>
                                            <input type="text"
                                               class="form-control"
                                               id="txtCompanyYoutube_@i"
                                               value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Name"
                                               placeholder="youtube.com/galaxypremiere">
                                            <span class="input-group-text">Name</span>
                                            <input type="text"
                                               class="form-control"
                                               id="txtCompanyLinkden_@i"
                                               value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Name"
                                               placeholder="@@galaxypremiere">
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Vimeo</span>
                                            <input type="text"
                                               class="form-control"
                                               id="txtCompanyVimeo_@i"
                                               value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Name"
                                               placeholder="vimeo.com/galaxypremiere">
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">IMDb</span>
                                            <input type="text"
                                               class="form-control"
                                               id="txtCompanyIMDb_@i"
                                               value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Name"
                                               placeholder="IMDb.com/galaxypremiere">
                                        </div>
                                        <button type="button" onclick="GetProfileCompanyElements()"
                                            id="btnUpdateProfileCompany" class="btn cur-p btn-primary" disabled>
                                            Done
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="input-group mt-3">
                        <button type="button" class="add_new_frm_field_companies_btn">
                            <i class="fas fa-plus add_icon"></i> Add New Company
                        </button>
                        <br />
                        <button type="button" onclick="GetProfileCompanyElements()"
                                id="btnUpdateProfileCompanies" class="btn cur-p btn-primary" disabled>
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="TabUserNews" class="TabcontentClass">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">News</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="Create" id="frmAddUser" method="post">
                    <button type="button" onclick="UpdateInfoAccount()" id="btnUpdateAccount" class="btn cur-p btn-primary">
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="TabUserPhotos" class="TabcontentClass">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Photos</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="Create" id="frmAddUser" method="post">
                    <button type="button" onclick="UpdateInfoAccount()" id="btnUpdateAccount" class="btn cur-p btn-primary">
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="TabUserAttachments" class="TabcontentClass">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Attachments</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="Create" id="frmAddUser" method="post">
                    <button type="button" onclick="UpdateInfoAccount()" id="btnUpdateAccount" class="btn cur-p btn-primary">
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="TabUserLinks" class="TabcontentClass">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Links</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="Create" id="frmAddUser" method="post">
                    <button type="button" onclick="UpdateInfoAccount()" id="btnUpdateAccount" class="btn cur-p btn-primary">
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @* Tabs *@
    <script src="~/sitetemplate/innerpages/plugins/tabNavigation/tab.js"></script>
    @*Datapicker*@
    <script src="~/lib/datapicker/datapicker.js"></script>
    @for (byte i = 0; i <= Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto.Count - 1; i++)
    {
        <script>
            $('#datepickerFrom_@i').datepicker({
                uiLibrary: 'bootstrap5'
            });
            $('#datepickerTo_@i').datepicker({
                uiLibrary: 'bootstrap5'
            });
        </script>
    }
    @for (byte i = 0; i <= Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto.Count - 1; i++)
    {
        <script>
            $('#datepickerCompanyFrom_@i').datepicker({
                uiLibrary: 'bootstrap5'
            });
            $('#datepickerCompanyTo_@i').datepicker({
                uiLibrary: 'bootstrap5'
            });
        </script>
    }
    @*Enabling Update Buttons*@
    @if (Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto.Count > 0)
    {
        // if there is any record, enable the button
        <script>
            $(document).ready(function () {
                $("#btnUpdateProfileEducations").prop("disabled", false);
            });
        </script>
    }
    @if (Model.ResultGetUserProfileFavoriteMoviesServiceDto.getUserProfileFavoriteMoviesServiceDto.Count > 0)
    {
        // if there is any record, enable the button
        <script>
            $(document).ready(function () {
                $("#btnUpdateProfileFavoriteMovies").prop("disabled", false);
            });
        </script>
    }
    @* Functions *@

    <script>
        // Educations
        function GetProfileEducationElements() {

            pageWaitMe("progress"); // loading process starts
            btnWaitMe_Start('btnUpdateProfileEducations'); // Loading Button Start

            var Id;
            var hiddenId;
            var schoolName;
            var fieldlName;
            var dateFrom;
            var dateTo;
            var postData = [];
            var success = true;

            var inputValues = $('.form_field_outer :input').map(function () {

                var type = $(this).prop("type");
                var value = $(this).prop("value");
                var id = $(this).prop("id");

                if (type == "hidden") {
                    if (id.indexOf("hiddenEducationalCase") == 0) Id = value;
                    hiddenId = id;
                }
                if (type == "text") {
                    if (value.trim() == '') {
                        KingWarningStyle("#" + id, 0);
                        success = false;
                    }
                    else
                        KingWarningStyleOff("#" + id, 0);
                    if (id.indexOf("txtSchoolName") == 0) schoolName = value;
                    if (id.indexOf("txtField") == 0) fieldlName = value;
                    if (id.indexOf("datepickerFrom") == 0) dateFrom = value;
                    if (id.indexOf("datepickerTo") == 0) dateTo = value;
                }

                if (type == "button" && id.indexOf("btnRemoveNodeBtnFrmField") == 0) {
                    postData.push(Id + "|" + schoolName + "|" + fieldlName + "|" + dateFrom + "|" + dateTo + "|" + hiddenId);
                }
            });

            if (success) {
                Swal.fire({
                    title: 'Please Wait !',
                    html: 'Given your number of cases, it may take a long time!',
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading()
                    }
                });
                PostProfileEducation(postData)
            }
            else {
                btnWaitMe_Stop('btnUpdateProfileEducations'); // Loading Button Stops
                pageWaitMeRemove(); // loading process stops
            }
        }
        function PostProfileEducation(data) {
            var postData = { 'info': data, }
            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: 'POST',
                data: postData,
                url: 'ProfileEducationPost',
                success: function (data) {
                    if (data.isSuccess) {
                        // set VALUE of HIDDEN CONTROLS with new value from database (value = ID of new record after inserting)
                        // the new ID is stored in "data.message"
                        // why must we set the new value for HIDDEN CONTROL?
                        // because otherwise in the way of adding dynamic form, the system can not recognize the record ID to delete it.
                        var flag = true;
                        var arr = data.message.split(/\r?\n/);
                        for (let i = 0; i < arr.length; i++) {
                            if (arr[i].length != 0) {
                                var arr2 = arr[i].replace('[', '').replace(']', '').split(',');
                                $('#' + arr2[0]).val(arr2[1]);
                            }
                        }
                        // setting process is done!
                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: "Information has been saved",
                            showConfirmButton: false,
                            timer: 1000
                        });
                        btnWaitMe_Stop('btnUpdateProfileEducations'); // Loading Button Stops
                        pageWaitMeRemove(); // loading process stops
                    }
                    else {
                        Swal.fire({
                            position: "center",
                            icon: "error",
                            title: data.message,
                            showConfirmButton: false,
                            timer: 3000
                        });
                        btnWaitMe_Stop('btnUpdateProfileEducations'); // Loading Button Stops
                        pageWaitMeRemove(); // loading process stops
                    }
                },
                error: function (req, status, err) {
                    Swal.fire({
                        position: "center",
                        icon: "error",
                        title: "Something went wrong, please try it again or later!",
                        showConfirmButton: false,
                        timer: 3000
                    });
                }
            });
        }
        function DeleteProfileEducation(e, Id) {
            pageWaitMe("progress"); // loading process starts
            // find ID of hiddenControl based on ID of DeleteControl
            var SplitedId = e.id.split('_');
            var ID_FOR_DELETE;
            var inputValues = $('.form_field_outer :input').map(function () {
                var type = $(this).prop("type");
                var value = $(this).prop("value");
                var id = $(this).prop("id").split('_');
                if (type == "hidden") {
                    if (id[1] == SplitedId[1]) {
                        ID_FOR_DELETE = $("#hiddenEducationalCase_" + id[1]).val();
                    }
                }
            });

            var postData = { 'Id': ID_FOR_DELETE, }
            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: 'POST',
                data: postData,
                url: 'ProfileEducationDelete',
                success: function (data) {
                    if (data.isSuccess) {
                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: "Information has been saved",
                            showConfirmButton: false,
                            timer: 1000
                        });
                        btnWaitMe_Stop(e.id); // Loading Button Stops
                        pageWaitMeRemove(); // loading process stops
                    }
                    else {
                        btnWaitMe_Stop(e.id); // Loading Button Stops
                        pageWaitMeRemove(); // loading process stops
                    }
                },
                error: function (req, status, err) {
                    Swal.fire({
                        position: "center",
                        icon: "error",
                        title: "Something went wrong, please try it again or later!",
                        showConfirmButton: false,
                        timer: 3000
                    });
                }
            });
        }
        // Favorite Movies
        function GetProfileFavoriteMoviesElements() {

            pageWaitMe("progress"); // loading process starts
            btnWaitMe_Start('btnUpdateProfileFavoriteMovies'); // Loading Button Start

            var Id;
            var IMDbLink;
            var hiddenId;
            var postData = [];
            var success = true;

            var inputValues = $('.form_field_outer_favoriteMovie :input').map(function () {

                var type = $(this).prop("type");
                var value = $(this).prop("value");
                var id = $(this).prop("id");

                if (type == "hidden") {
                    if (id.indexOf("hiddenFavoriteMovie") == 0) Id = value;
                    hiddenId = id;
                }
                if (type == "text") {
                    if (value.trim() == '') {
                        KingWarningStyle("#" + id, 0);
                        success = false;
                    }
                    else
                        KingWarningStyleOff("#" + id, 0);

                    //CHECL THE VALIDATION OF LINK
                    if (id.indexOf("txtMovieLink") == 0)
                        if (KingIsUrlValid(value, "https://www.imdb.com/")) {
                            IMDbLink = value;
                        }
                        else {
                            KingWarningStyle("#" + id, 0);
                            success = false;
                        }

                }
                if (type == "button" && id.indexOf("btnRemoveNodeBtnFrmFieldFavoriteMovie") == 0) {
                    postData.push(Id + "|" + IMDbLink + "|" + hiddenId);
                }
            });
            if (success) {
                Swal.fire({
                    title: 'Please Wait !',
                    html: 'Given your number of links, it may take a long time!',
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading()
                    }
                });
                PostProfileFavoriteMovies(postData);
            }
            else {
                btnWaitMe_Stop('btnUpdateProfileFavoriteMovies'); // Loading Button Stops
                pageWaitMeRemove(); // loading process stops
            }
        }
        function PostProfileFavoriteMovies(data) {
            var postData = { 'info': data, }
            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: 'POST',
                data: postData,
                url: 'ProfileFavoriteMovies',
                success: function (data) {
                    if (data.isSuccess) {
                        // set VALUE of HIDDEN CONTROLS with new value from database (value = ID of new record after inserting)
                        // the new ID is stored in "data.message"
                        // why must we set the new value for HIDDEN CONTROL?
                        // because otherwise in the way of adding dynamic form, the system can not recognize the record ID to delete it.
                        var flag = true;
                        var arr = data.message.split(/\r?\n/);
                        for (let i = 0; i < arr.length; i++) {
                            if (arr[i].length != 0) {
                                var arr2 = arr[i].replace('[', '').replace(']', '').split(',');
                                if (arr2[1].trim() != "false") {
                                    $('#' + arr2[0]).val(arr2[1]);
                                }
                                else {
                                    KingWarningStyle('#txtMovieLink_' + arr2[0].trim(), 0);
                                    flag = false;
                                }
                            }
                        }
                        // setting process is done!
                        if (flag) {
                            Swal.fire({
                                position: "center",
                                icon: "success",
                                title: "Information has been saved",
                                showConfirmButton: false,
                                timer: 1000
                            });
                        }
                        else {
                            Swal.fire({
                                position: "center",
                                icon: "error",
                                title: "One or more links were detected invalidly, check them out please.",
                                showConfirmButton: false,
                                timer: 4000
                            });
                        }
                        btnWaitMe_Stop('btnUpdateProfileFavoriteMovies'); // Loading Button Stops
                        pageWaitMeRemove(); // loading process stops
                    }
                    else {
                        Swal.fire({
                            position: "center",
                            icon: "error",
                            title: data.message,
                            showConfirmButton: false,
                            timer: 3000
                        });
                        btnWaitMe_Stop('btnUpdateProfileFavoriteMovies'); // Loading Button Stops
                        pageWaitMeRemove(); // loading process stops
                    }
                },
                error: function (req, status, err) {
                    Swal.fire({
                        position: "center",
                        icon: "error",
                        title: "Something went wrong, please try it again or later!",
                        showConfirmButton: false,
                        timer: 3000
                    });
                }
            });

        }
        function DeleteProfileFavoriteMovies(e, Id) {
            pageWaitMe("progress"); // loading process starts
            // find ID of hiddenControl based on ID of DeleteControl
            var SplitedId = e.id.split('_');
            var ID_FOR_DELETE;
            var inputValues = $('.form_field_outer_favoriteMovie :input').map(function () {
                var type = $(this).prop("type");
                var value = $(this).prop("value");
                var id = $(this).prop("id").split('_');
                if (type == "hidden") {
                    if (id[1] == SplitedId[1]) {
                        ID_FOR_DELETE = $("#hiddenFavoriteMovie_" + id[1]).val();
                    }
                }
            });

            var postData = { 'Id': ID_FOR_DELETE, }
            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: 'POST',
                data: postData,
                url: 'ProfileFavoriteMovieDelete',
                success: function (data) {
                    if (data.isSuccess) {
                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: "Information has been saved",
                            showConfirmButton: false,
                            timer: 1000
                        });
                        btnWaitMe_Stop(e.id); // Loading Button Stops
                        pageWaitMeRemove(); // loading process stops
                    }
                    else {
                        btnWaitMe_Stop(e.id); // Loading Button Stops
                        pageWaitMeRemove(); // loading process stops
                    }
                },
                error: function (req, status, err) {
                    Swal.fire({
                        position: "center",
                        icon: "error",
                        title: "Something went wrong, please try it again or later!",
                        showConfirmButton: false,
                        timer: 3000
                    });
                }
            });
        }
        function checkRuntimeValidationUrl(e) {
            if (KingIsUrlValid($(e).val(), "https://www.imdb.com/")) {
                KingWarningStyleOff("#" + e.id, 0);
                return true;
            } else {
                pageWaitMeRemove(); // loading process stops
                KingWarningStyle("#" + e.id, 0);
                return false;
            }
        }
        function CheckTheLink(e, link) {

            pageWaitMe("progress"); // loading process starts
            btnWaitMe_Start(e.id); // Loading Button Start
            var postData = { 'info': link, }
            link = $('#' + link).val();
            ///////////////// CHECL THE VALIDATION OF LINK
            var SeparateID = e.id.split('_');
            if ($("#txtMovieLink_" + SeparateID[1]).val() == null || $("#txtMovieLink_" + SeparateID[1]).val() == '') {
                btnWaitMe_Stop(e.id); // Loading Button Stops
                pageWaitMeRemove(); // loading process stops
                KingWarningStyle("#txtMovieLink_" + SeparateID[1], 0);
                return;
            }
            if (!KingIsUrlValid(link, "https://www.imdb.com/")) { // if the link does not match with the exact hostname=> "https://www.imdb.com/"
                KingWarningStyle("#txtMovieLink_" + SeparateID[1], 0);
                btnWaitMe_Stop(e.id); // Loading Button Stops
                pageWaitMeRemove(); // loading process stops
                return;
            }
            ///////////////// End
            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                data: { 'link': link },
                type: 'GET',
                url: 'GetMetaInfo',
                success: function (data) {

                    if (data.isSuccess) {
                        var doc = new DOMParser().parseFromString(data.message, 'text/html');

                        var meta_img = doc.querySelector('meta[property="og:image"]');
                        var value_img = meta_img && meta_img.getAttribute('content');

                        var meta_title = doc.querySelector('meta[property="og:title"]');
                        var value_title = meta_title && meta_title.getAttribute('content');

                        Swal.fire({
                            title: "<strong>" + value_title + "</strong>",
                            html: "<strong>" + "<img src='" + value_img + "' width='100%;'/>" + "</u></strong>",
                            showCloseButton: false,
                            showCancelButton: false,
                            focusConfirm: false,
                            confirmButtonText: '<i class="fa fa-thumbs-up"></i>' + 'Yes, Thats Correct!'
                        });
                        KingWarningStyleOff("#txtMovieLink_" + SeparateID[1], 0);
                        btnWaitMe_Stop(e.id); // Loading Button Stops
                        pageWaitMeRemove(); // loading process stops

                        return true;
                    } else {
                        Swal.fire({
                            position: "center",
                            icon: "error",
                            title: data.message,
                            showConfirmButton: false,
                            timer: 3000
                        });
                        KingWarningStyle("#txtMovieLink_" + SeparateID[1], 0);
                        btnWaitMe_Stop(e.id); // Loading Button Stops
                        pageWaitMeRemove(); // loading process stops

                        return false;
                    }

                },
                error: function (req, status, err) {
                    Swal.fire({
                        position: "center",
                        icon: "error",
                        title: "Something went wrong, please try it again or later!",
                        showConfirmButton: false,
                        timer: 3000
                    });
                    btnWaitMe_Stop(e.id); // Loading Button Stops
                    pageWaitMeRemove(); // loading process stops
                    return false;
                }
            });

        }
        // Companies
        function DeleteProfileEducation(e, Id) {
            //pageWaitMe("progress"); // loading process starts
            // find ID of hiddenControl based on ID of DeleteControl
            var SplitedId = e.id.split('_');
            var ID_FOR_DELETE;
            var inputValues = $('.form_field_outer_companies :input').map(function () {
                var type = $(this).prop("type");
                var value = $(this).prop("value");
                var id = $(this).prop("id").split('_');
                if (type == "hidden") {
                    if (id[1] == SplitedId[1]) {
                        ID_FOR_DELETE = $("#hiddenCompany" + id[1]).val();
                    }
                }
            });

            //var postData = { 'Id': ID_FOR_DELETE, }
            //$.ajax({
            //    contentType: 'application/x-www-form-urlencoded',
            //    dataType: 'json',
            //    type: 'POST',
            //    data: postData,
            //    url: 'ProfileEducationDelete',
            //    success: function (data) {
            //        if (data.isSuccess) {
            //            Swal.fire({
            //                position: "center",
            //                icon: "success",
            //                title: "Information has been saved",
            //                showConfirmButton: false,
            //                timer: 1000
            //            });
            //            btnWaitMe_Stop(e.id); // Loading Button Stops
            //            pageWaitMeRemove(); // loading process stops
            //        }
            //        else {
            //            btnWaitMe_Stop(e.id); // Loading Button Stops
            //            pageWaitMeRemove(); // loading process stops
            //        }
            //    },
            //    error: function (req, status, err) {
            //        Swal.fire({
            //            position: "center",
            //            icon: "error",
            //            title: "Something went wrong, please try it again or later!",
            //            showConfirmButton: false,
            //            timer: 3000
            //        });
            //    }
            //});
        }

    </script>

    @*Add Runtime Controls*@
    <script type="text/javascript">
        function generateGuid() {
            return Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
        }
//===== add the form fieed row
        $(document).ready(function () {
            $("body").on("click", ".add_new_frm_field_btn,.add_new_frm_field_favorite_movie_btn,.add_new_frm_field_companies_btn", function () {
                var className = this.className;
                switch (className) {
                    case "add_new_frm_field_btn":
                        fireNewEductionalPart();
                        break;
                    case "add_new_frm_field_favorite_movie_btn":
                        fireNewFavoriteMoviePart();
                        break;
                    case "add_new_frm_field_companies_btn":
                        fireNewCompaniesPart();
                        break;
                }
            });
        });
        function fireNewEductionalPart() {
            // After adding the first form, the update button will be enabled.
            $("#btnUpdateProfileEducations").prop("disabled", false);
            // how many new forms a client can add? the answer is: at most 10 forms
            var index = $(".form_field_outer").find(".form_field_outer_row").length + 1;
            if (index > 10) {
                Swal.fire({
                    position: "center",
                    icon: "error",
                    title: "Only 10 educational cases are allowed.",
                    showConfirmButton: false,
                    timer: 3000
                });
                return;
            }
            // end
            var guid = generateGuid();// generate a random string as the name of the controls
            $(".form_field_outer").append(`

                                                            <div class="row form_field_outer_row" id="educational_form_`+ guid.toString() + `">

                                                    <fieldset>
                                                                <legend>Educational Case</legend>

                                                                <input type="hidden"
                                                                id="hiddenEducationalCase_`+ guid.toString() + `"
                                                                value="`+ guid.toString() + `"
                                                />

                                                        <div class="input-group mb-3">
                                                            <span class="input-group-text">Name</span>
                                                            <input type="text"
                                                                    class="form-control"
                                                                            id="txtSchoolName_`+ guid.toString() + `"
                                                                    placeholder="School, Instituion, College, University Name">
                                                        </div>

                                                        <div class="input-group mb-3">
                                                            <span class="input-group-text">Field of Study</span>
                                                            <input type="text"
                                                                    class="form-control"
                                                                            id="txtField_`+ guid.toString() + `"
                                                                    placeholder="Directing, Software engineering, ...">
                                                        </div>

                                                                                            <div style="display:flex;">
                                                            <div>
                                                                <label class="input-group-text" style="border-radius:5px 0px 0px 5px;"
                                                                        for="inputGroupSelect01">From</label>
                                                            </div>
                                                            <div>
                                                                <input readonly
                                                                        placeholder="Starting date of Eduction"
                                                                        style="border-radius:0px;border-left:0;" width="300"
                                                                                id="datepickerFrom_`+ guid.toString() + `">
                                                            </div>
                                                        </div>

                                                        <div style="display:flex;">
                                                            <div>
                                                                <label class="input-group-text" style="border-radius:5px 0px 0px 5px;"
                                                                        for="inputGroupSelect01">To</label>
                                                            </div>
                                                            <div>
                                                                <input readonly
                                                                        placeholder="Ending date of Eduction"
                                                                        style="border-radius:0px;border-left:0;" width="300"
                                                                                        id="datepickerTo_`+ guid.toString() + `">
                                                            </div>
                                                        </div>

                                                        <div class="form-group col-md-2 add_del_btn_outer">
                                                            <button type="button" class="btn_round remove_node_btn_frm_field"
                                                                        id="btnRemoveNodeBtnFrmField_`+ guid.toString() + `"
                                                              onclick="DeleteProfileEducation(this,'`+ guid.toString() + `')"
                                                            >
                                                                <i class="fas fa-trash-alt"></i>
                                                            </button>
                                                        </div>
                                                    </fieldset>

                                                </div>

                                                                                                                                                                                            `);

            $('#datepickerFrom_' + guid.toString()).datepicker({
                uiLibrary: 'bootstrap5'
            });
            $('#datepickerTo_' + guid.toString()).datepicker({
                uiLibrary: 'bootstrap5'
            });
        }
        function fireNewFavoriteMoviePart() {
            // After adding the first form, the update button will be enabled.
            $("#btnUpdateProfileFavoriteMovies").prop("disabled", false);
            //how many new forms a client can add? the answer is: at most 10 forms
            var index = $(".form_field_outer_favoriteMovie").find(".form_field_outer_row_favoriteMovie").length + 1;
            if (index > 10) {
                Swal.fire({
                    position: "center",
                    icon: "error",
                    title: "Only 10 favorite movie are allowed.",
                    showConfirmButton: false,
                    timer: 3000
                });
                return;
            }
            var guid = generateGuid();// generate a random string as the name of the controls
            $(".form_field_outer_favoriteMovie").append(`

                                                <div class="row form_field_outer_row_favoriteMovie" id="favoriteMovie_form_`+ guid.toString() + `">

                                                        <fieldset>
                                                            <legend>Favorite Movie</legend>

                                                            <input type="hidden"
                                                                    id="hiddenFavoriteMovie_`+ guid.toString() + `"
                                                                            value=`+ guid.toString() + `
                                            />


                                                                <div class="input-group mb-3">
                                                                <span class="input-group-text">IMDb Movie Link</span>
                                                                <input type="text"
                                                                    onkeypress="if(event.keyCode === 13)event.preventDefault();"
                                                                onkeyup="checkRuntimeValidationUrl(this)"
                                                                    class="form-control"
                                                                            id="txtMovieLink_`+ guid.toString() + `"
                                                                    placeholder="https://www.imdb.com/title/tt0068646/">
                                                                <button type="button"
                                                                                    onclick="CheckTheLink(this,'txtMovieLink_`+ guid.toString() + `');"
                                                                                    id="btnCheckTheLink_`+ guid.toString() + `"
                                                                class="btn cur-p btn-primary">
                                                                    CHECK THE LINK <span class="btn-icon-right">
                                                                        <i class="fa-solid fa-magnifying-glass"></i>
                                                                </button>
                                                                </div>

                                                            <div class="form-group col-md-2 add_del_btn_outer">
                                                                <button type="button" class="btn_round remove_node_btn_frm_field_FavoriteMovie"
                                                                onclick="DeleteProfileFavoriteMovies(this,'`+ guid.toString() + `')"
                                                                            id="btnRemoveNodeBtnFrmFieldFavoriteMovie_`+ guid.toString() + `"
                                                                    \>
                                                                    <i class="fas fa-trash-alt"></i>
                                                                </button>
                                                            </div>

                                                        </fieldset>

                                                    </div>

                                                `);
        }
        function fireNewCompaniesPart() {
            // After adding the first form, the update button will be enabled.
            $("#btnUpdateProfileCompanies").prop("disabled", false);
            //how many new forms a client can add? the answer is: at most 10 forms
            var index = $(".form_field_outer_companies").find(".form_field_outer_companies_row").length + 1;
            if (index > 10) {
                Swal.fire({
                    position: "center",
                    icon: "error",
                    title: "Only 10 companies are allowed.",
                    showConfirmButton: false,
                    timer: 3000
                });
                return;
            }
            var guid = generateGuid();// generate a random string as the name of the controls
            $(".form_field_outer_companies").append(`

                            <div class="row form_field_outer_companies_row" id="company_form_`+ guid.toString() + `">

                                                <fieldset>
                                                            <legend>Company</legend>
                                                            <input type="hidden"
                                                                       id="hiddenCompany_`+ guid.toString() + `"/>

                                            <div class="input-group mb-3">
                                                <label class="input-group-text" for="inputGroupSelect01">Country</label>
                                                <select class="form-select"
                                                        id="selectCountry">
                                                    <option selected>Choose...</option>
        @{
            if (Model.resultGetCountriesServiceDto != null)
            {
                foreach (var country in Model.resultGetCountriesServiceDto.getCountriesServiceDto)
                {
                                                                                                    <option value="@country.Id">
                        @country.Name
                                                                                                    </option>

                }
            }
        }
                                                </select>
                                            </div>

                                                            <div class="input-group mb-3">
                                                                        <span class="input-group-text">Company Name</span>
                                                                <input type="text"
                                                                   class="form-control"
                                                                   id="txtCompanylName_`+ guid.toString() + `"
                                                                   placeholder="Microsoft, Amazon, Google, ...">
                                                                <span class="input-group-text">Position</span>
                                                                <input type="text"
                                                                   class="form-control"
                                                                   id="txtCompanyPosition_`+ guid.toString() + `"
                                                                   placeholder="CEO, Editor, Poster Designer, ....">
                                                            </div>


                                                            <div style="display:flex;">
                                                                <div>
                                                                    <label class="input-group-text" style="border-radius:5px 0px 0px 5px;"
                                                                       for="inputGroupSelect01">From</label>
                                                                </div>
                                                                <div>
                                                                    <input readonly
                                                                       placeholder="Starting date of Eduction"
                                                                       style="border-radius:0px;border-left:0;" width="300"
                                                                       id="datepickerCompanyFrom_`+ guid.toString() + `">
                                                                </div>
                                                            </div>

                                                            <div style="display:flex;">
                                                                <div>
                                                                    <label class="input-group-text" style="border-radius:5px 0px 0px 5px;"
                                                                       for="inputGroupSelect01">To</label>
                                                                </div>
                                                                <div>
                                                                    <input readonly
                                                                       placeholder="Ending date of Eduction"
                                                                       style="border-radius:0px;border-left:0;" width="300"
                                                                       id="datepickerCompanyTo_`+ guid.toString() + `">
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <a href="#"  onclick="$('#loginModal').modal();">
                                                                    [Click to set more information]
                                                                </a>
                                                            </div>

                                                            <div class="form-group col-md-2 add_del_btn_outer">
                                                                <button type="button" class="btn_round remove_node_btn_frm_field"
                                                                    id="btnRemoveNodeBtnFrmField_`+ guid.toString() + `"
                                                                    <i class="fas fa-trash-alt"></i>
                                                                </button>
                                                            </div>
                                                                    <div class="form-group col-md-2 add_del_btn_outer">
                                                                <button type="button" class="btn_round remove_node_btn_frm_field_company"
                                                                            id="btnRemoveNodeBtnFrmField_`+ guid.toString() + `"
                                                                    onclick="DeleteProfileCompany(this,'')">
                                                                    <i class="fas fa-trash-alt"></i>
                                                                </button>
                                                            </div>
                                                        </fieldset>
        @*MODAL*@
                                                    <div class="modal fade" id="loginModal" role="dialog">
                                                        <div class="modal-dialog">
                                                            <!-- Modal content-->
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h2>MORE INFORMATION</h2>
                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                </div>
                                                                <div class="input-group mb-3">
                                                                    <span class="input-group-text">Address Line 1</span>
                                                                    <input type="text"
                                                                       class="form-control"
                                                                       id="txtCompanyAddress1_`+ guid.toString() + `"
                                                                       placeholder="3015">
                                                                </div>
                                                                <div class="input-group mb-3">
                                                                    <span class="input-group-text">Address Line 2</span>
                                                                    <input type="text"
                                                                       class="form-control"
                                                                       id="txtCompanyAddress2_`+ guid.toString() + `"
                                                                       placeholder="Grand Ave">
                                                                </div>
                                                                <div class="input-group mb-3">
                                                                    <span class="input-group-text">City</span>
                                                                    <input type="text"
                                                                       class="form-control"
                                                                       id="txtCompanyCity_`+ guid.toString() + `"
                                                                       placeholder="Miami">
                                                                    <span class="input-group-text">State</span>
                                                                    <input type="text"
                                                                       class="form-control"
                                                                       id="txtCompanyState_`+ guid.toString() + `"
                                                                       placeholder="Florida">
                                                                </div>
                                                                <div class="input-group mb-3">
                                                                    <span class="input-group-text">PostCode</span>
                                                                    <input type="text"
                                                                       class="form-control"
                                                                       id="txtCompanyPostCode_`+ guid.toString() + `"
                                                                       placeholder="33133">
                                                                </div>
                                                                <div class="input-group mb-3">
                                                                    <span class="input-group-text">Phone</span>
                                                                    <input type="text"
                                                                       class="form-control"
                                                                       id="txtCompanyPhone_`+ guid.toString() + `"
                                                                       placeholder="(305) 447-2273">
                                                                </div>
                                                                <div class="input-group mb-3">
                                                                    <span class="input-group-text">Email</span>
                                                                    <input type="text"
                                                                       class="form-control"
                                                                       id="txtCompanyEmail_`+ guid.toString() + `"
                                                                       placeholder="support@galaxypremiere.com">
                                                                </div>
                                                                <div class="input-group mb-3">
                                                                    <span class="input-group-text">Website</span>
                                                                    <input type="text"
                                                                       class="form-control"
                                                                       id="txtCompanyWebsite_`+ guid.toString() + `"
                                                                       placeholder="www.galaxypremiere.com">
                                                                </div>
                                                                <div class="input-group mb-3">
                                                                    <span class="input-group-text">Facebook ID</span>
                                                                    <input type="text"
                                                                       class="form-control"
                                                                       id="txtCompanyFacebook_`+ guid.toString() + `"
                                                                       placeholder="@@galaxypremiere">
                                                                        <span class="input-group-text">Instagram ID</span>
                                                                    <input type="text"
                                                                       class="form-control"
                                                                       id="txtCompanyInstagram_`+ guid.toString() + `"
                                                                       placeholder="@@galaxypremiere">
                                                                </div>
                                                                <div class="input-group mb-3">
                                                                    <span class="input-group-text">Twitter ID</span>
                                                                    <input type="text"
                                                                       class="form-control"
                                                                       id="txtCompanyTwitter_`+ guid.toString() + `"
                                                                       placeholder="@@galaxypremiere">
                                                                    <span class="input-group-text">Stage32 ID</span>
                                                                    <input type="text"
                                                                       class="form-control"
                                                                       id="txtCompanyStage32_`+ guid.toString() + `"
                                                                       placeholder="stage32.com/galaxypremiere">
                                                                </div>
                                                                <div class="input-group mb-3">
                                                                    <span class="input-group-text">Youtube</span>
                                                                    <input type="text"
                                                                       class="form-control"
                                                                       id="txtCompanyYoutube_`+ guid.toString() + `"
                                                                       placeholder="youtube.com/galaxypremiere">
                                                                    <span class="input-group-text">Name</span>
                                                                    <input type="text"
                                                                       class="form-control"
                                                                       id="txtCompanyLinkden_`+ guid.toString() + `"
                                                                       placeholder="@@galaxypremiere">
                                                                </div>
                                                                  <div class="input-group mb-3">
                                                                    <span class="input-group-text">Vimeo</span>
                                                                    <input type="text"
                                                                       class="form-control"
                                                                       id="txtCompanyVimeo_`+ guid.toString() + `"
                                                                       placeholder="vimeo.com/galaxypremiere">
                                                                </div>
                                                                  <div class="input-group mb-3">
                                                                    <span class="input-group-text">IMDb</span>
                                                                    <input type="text"
                                                                       class="form-control"
                                                                       id="txtCompanyIMDb_`+ guid.toString() + `"
                                                                       placeholder="IMDb.com/galaxypremiere">
                                                                </div>
                                                                <button type="button"
                                                                    id="btnUpdateProfileCompany" class="btn cur-p btn-primary" disabled>
                                                                    Done
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                    </div>

                            `);
        }
        //===== delete the form fieed row
        $(document).ready(function () {
            $("body").on("click", ".remove_node_btn_frm_field,.remove_node_btn_frm_field_FavoriteMovie,.remove_node_btn_frm_field_company", function () {
                var className = this.className;
                switch (className) {
                    case "btn_round remove_node_btn_frm_field":
                        fireDeleteEductionalPart(this);
                        break;
                    case "btn_round remove_node_btn_frm_field_FavoriteMovie":
                        fireDeleteFavoriteMoviePart(this);
                        break;
                    case "btn_round remove_node_btn_frm_field_company":
                        fireDeleteCompanyPart(this);
                        break;
                }
            });
        });
        function fireDeleteEductionalPart(e) {
            btnWaitMe_Start(e.id); // Loading Button Start
            $(e).closest(".form_field_outer_row").remove();
            var index = $(".form_field_outer").find(".form_field_outer_row").length;
            if (index == 0) $("#btnUpdateProfileEducations").prop("disabled", true);
        }
        function fireDeleteFavoriteMoviePart(e) {
            btnWaitMe_Start(e.id); // Loading Button Start
            $(e).closest(".form_field_outer_row_favoriteMovie").remove();
            var index = $(".form_field_outer_favoriteMovie").find(".form_field_outer_row_favoriteMovie").length;
            if (index == 0) $("#btnUpdateProfileFavoriteMovies").prop("disabled", true);
        }
        function fireDeleteCompanyPart(e) {
            btnWaitMe_Start(e.id); // Loading Button Start
            $(e).closest(".form_field_outer_companies_row").remove();
            var index = $(".form_field_outer_companies").find(".form_field_outer_companies_row").length;
            if (index == 0) $("#btnUpdateProfileCompanies").prop("disabled", true);
        }
    </script>

}