@* DevelopeR: Alimohammad Eghbaldar http://eghbaldar.ir *@
@using Endpoint.Site.Models.Users.GetProfile
@model ModelGetProfile
@{
    Layout = "~/Views/Shared/_LayoutInnerPages.cshtml";
}
@section Styles{
    <!-- Modal -->
    <link href="~/modal/modal-user-companies.css" rel="stylesheet" />
    @*Only for this page*@
    <link href="~/sitetemplate/innerpages/pagecssjs/profile/profile.css" rel="stylesheet" />
    @*datapicker*@
    <link href="~/lib/datapicker/datepicker.min.css" rel="stylesheet" />

}
@await Component.InvokeAsync("UserProfileNavigation")

<div id="TabUserEducation" class="TabcontentClass active">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Eduction</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="Create" id="frmEducationalCases" method="post">
                    <div class="form_field_outer">
                        @for (byte i = 0; i <= Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto.Count - 1; i++)
                        {
                            <div class="row form_field_outer_row" id="educational_form_@i">
                                <fieldset>
                                    <legend>Educational Case</legend>
                                    <input type="hidden"
                                       id="hiddenEducationalCase_@i"
                                       value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Id" />
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Name</span>
                                        <input type="text"
                                           class="form-control"
                                           id="txtSchoolName_@i"
                                           value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Name"
                                           placeholder="School, Instituion, College, University Name">
                                    </div>

                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Field of Study</span>
                                        <input type="text"
                                           class="form-control"
                                           id="txtField_@i"
                                           value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].Field"
                                           placeholder="Directing, Software engineering, ...">
                                    </div>

                                    <div style="display:flex;">
                                        <div>
                                            <label class="input-group-text" style="border-radius:5px 0px 0px 5px;"
                                               for="inputGroupSelect01">From</label>
                                        </div>
                                        <div>
                                            <input readonly
                                               placeholder="Starting date of Eduction"
                                               style="border-radius:0px;border-left:0;" width="300"
                                               value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].From.ToString("dd/MM/yyyy")"
                                               id="datepickerFrom_@i">
                                        </div>
                                    </div>

                                    <div style="display:flex;">
                                        <div>
                                            <label class="input-group-text" style="border-radius:5px 0px 0px 5px;"
                                               for="inputGroupSelect01">To</label>
                                        </div>
                                        <div>
                                            <input readonly
                                               placeholder="Ending date of Eduction"
                                               style="border-radius:0px;border-left:0;" width="300"
                                               value="@Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto[i].To.ToString("dd/MM/yyyy")"
                                               id="datepickerTo_@i">
                                        </div>
                                    </div>

                                    <div class="form-group col-md-2 add_del_btn_outer">
                                        <button type="button" class="btn_round remove_node_btn_frm_field"
                                            id="btnRemoveNodeBtnFrmField_@i"
                                            onclick="DeleteProfileEducation(this)">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>

                                </fieldset>

                            </div>
                        }
                    </div>
                    <div class="input-group mt-3">
                        <button type="button" class="add_new_frm_field_btn">
                            <i class="fas fa-plus add_icon"></i> Add New Educational Case
                        </button>
                        <br />
                        <button type="button" onclick="GetProfileEducationElements()"
                                id="btnUpdateProfileEducations" class="btn cur-p btn-primary" disabled>
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="TabUserFavoriteMovie" class="TabcontentClass">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Favorite Movies</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="Create" id="frmFavoriteMovies" method="post">
                    <div class="form_field_outer_favoriteMovie">
                        @for (byte i = 0; i <= Model.ResultGetUserProfileFavoriteMoviesServiceDto.getUserProfileFavoriteMoviesServiceDto.Count - 1; i++)
                        {
                            <div class="row form_field_outer_row_favoriteMovie" id="favoriteMovie_form_@i">
                                <fieldset>
                                    <legend>Favorite Movie</legend>
                                    <input type="hidden"
                                       id="hiddenFavoriteMovie_@i"
                                       value="@Model.ResultGetUserProfileFavoriteMoviesServiceDto.getUserProfileFavoriteMoviesServiceDto[i].Id" />
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">IMDb Movie Link</span>
                                        <input type="text"
                                           onkeypress="if(event.keyCode === 13)event.preventDefault();"
                                           class="form-control"
                                           onkeyup="checkRuntimeValidationUrl(this)"
                                           id="txtMovieLink_@i"
                                           value="@Model.ResultGetUserProfileFavoriteMoviesServiceDto.getUserProfileFavoriteMoviesServiceDto[i].ImdbLink"
                                           placeholder="https://www.imdb.com/title/tt0068646/">
                                        <button type="button"
                                            id="btnCheckTheLink_@i"
                                            onclick="CheckTheLink(this,'txtMovieLink_@i')"
                                            class="btn cur-p btn-primary">
                                            CHECK THE LINK
                                            <span class="btn-icon-right"></span>
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </div>

                                    <div class="form-group col-md-2 add_del_btn_outer">
                                        <button type="button" class="btn_round remove_node_btn_frm_field_FavoriteMovie"
                                            onclick="DeleteProfileFavoriteMovies(this)"
                                            id="btnRemoveNodeBtnFrmFieldFavoriteMovie_@i">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>

                                </fieldset>

                            </div>
                        }
                    </div>
                    <div class="input-group mt-3">
                        <button type="button" class="add_new_frm_field_favorite_movie_btn">
                            <i class="fas fa-plus add_icon"></i> Add New Favorite Movie
                        </button>
                        <br />
                        <button type="button" onclick="GetProfileFavoriteMoviesElements()"
                                id="btnUpdateProfileFavoriteMovies" class="btn cur-p btn-primary" disabled>
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="TabUserCompany" class="TabcontentClass">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Company</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="Create" id="frmCompanies" method="post">
                    <div class="form_field_outer_companies">
                        @for (byte i = 0; i <= Model.ResultGetUserProfileCompaniesServiceDto.getUserProfileCompaniesDto.Count - 1; i++)
                        {
                            <div class="row form_field_outer_companies_row" id="company_form_@i">
                                <fieldset>
                                    <legend>Company</legend>
                                    <input type="hidden"
                                       id="hiddenCompany_@i"
                                       value="@Model.ResultGetUserProfileCompaniesServiceDto.getUserProfileCompaniesDto[i].Id" />

                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="inputGroupSelect01">Country</label>
                                        <select class="form-select" id="selectCountry_@i">
                                            <option selected>Choose...</option>
                                            @{
                                                if (Model.resultGetCountriesServiceDto != null)
                                                {
                                                    foreach (var country in Model.resultGetCountriesServiceDto.getCountriesServiceDto)
                                                    {
                                                        <option selected="@(Model.ResultGetUserProfileCompaniesServiceDto != null && country.Id == Model.ResultGetUserProfileCompaniesServiceDto.getUserProfileCompaniesDto[i].CountryId)"
                                                value="@country.Id">
                                                            @country.Name
                                                        </option>

                                                    }
                                                }
                                            }
                                        </select>
                                    </div>

                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Company Name</span>
                                        <input type="text"
                                           class="form-control"
                                           id="txtCompanyName_@i"
                                           value="@Model.ResultGetUserProfileCompaniesServiceDto.getUserProfileCompaniesDto[i].Name"
                                           placeholder="Microsoft, Amazon, Google, ...">
                                        <span class="input-group-text">Position</span>
                                        <input type="text"
                                           class="form-control"
                                           id="txtCompanyPosition_@i"
                                           value="@Model.ResultGetUserProfileCompaniesServiceDto.getUserProfileCompaniesDto[i].Position"
                                           placeholder="CEO, Editor, Poster Designer, ....">
                                    </div>

                                    <div style="display:flex;">
                                        <div>
                                            <label class="input-group-text" style="border-radius:5px 0px 0px 5px;"
                                               for="inputGroupSelect01">From</label>
                                        </div>
                                        <div>
                                            <input readonly
                                               placeholder="Starting date of Eduction"
                                               style="border-radius:0px;border-left:0;" width="300"
                                               value="@Model.ResultGetUserProfileCompaniesServiceDto.getUserProfileCompaniesDto[i].From.ToString("dd/MM/yyyy")"
                                               id="datepickerCompanyFrom_@i">
                                        </div>
                                    </div>

                                    <div style="display:flex;">
                                        <div>
                                            <label class="input-group-text" style="border-radius:5px 0px 0px 5px;"
                                               for="inputGroupSelect01">To</label>
                                        </div>
                                        <div>
                                            <input readonly
                                               placeholder="Ending date of Eduction"
                                               style="border-radius:0px;border-left:0;" width="300"
                                               value="@Model.ResultGetUserProfileCompaniesServiceDto.getUserProfileCompaniesDto[i].To.ToString("dd/MM/yyyy")"
                                               id="datepickerCompanyTo_@i">
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <a href="#" onclick="$('#loginModal_@i').modal();">
                                            [Click to set more information]
                                        </a>
                                    </div>



                                    @*MODAL*@
                                    <div class="modal fade" id="loginModal_@i" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h2>MORE INFORMATION</h2>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">Address Line 1</span>
                                                    <input type="text"
                                                       class="form-control"
                                                       id="txtCompanyAddress1_@i"
                                                       value="@Model.ResultGetUserProfileCompaniesServiceDto.getUserProfileCompaniesDto[i].Address1"
                                                       placeholder="3015">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">Address Line 2</span>
                                                    <input type="text"
                                                       class="form-control"
                                                       id="txtCompanyAddress2_@i"
                                                       value="@Model.ResultGetUserProfileCompaniesServiceDto.getUserProfileCompaniesDto[i].Address2"
                                                       placeholder="Grand Ave">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">City</span>
                                                    <input type="text"
                                                       class="form-control"
                                                       id="txtCompanyCity_@i"
                                                       value="@Model.ResultGetUserProfileCompaniesServiceDto.getUserProfileCompaniesDto[i].City"
                                                       placeholder="Miami">
                                                    <span class="input-group-text">State</span>
                                                    <input type="text"
                                                       class="form-control"
                                                       id="txtCompanyState_@i"
                                                       value="@Model.ResultGetUserProfileCompaniesServiceDto.getUserProfileCompaniesDto[i].State"
                                                       placeholder="Florida">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">PostCode</span>
                                                    <input type="text"
                                                       class="form-control"
                                                       id="txtCompanyPostCode_@i"
                                                       value="@Model.ResultGetUserProfileCompaniesServiceDto.getUserProfileCompaniesDto[i].PostalCode"
                                                       placeholder="33133">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">Phone</span>
                                                    <input type="text"
                                                       class="form-control"
                                                       id="txtCompanyPhone_@i"
                                                       value="@Model.ResultGetUserProfileCompaniesServiceDto.getUserProfileCompaniesDto[i].Phone"
                                                       placeholder="(305) 447-2273">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">Email</span>
                                                    <input type="text"
                                                       class="form-control"
                                                       id="txtCompanyEmail_@i"
                                                       value="@Model.ResultGetUserProfileCompaniesServiceDto.getUserProfileCompaniesDto[i].RecoveryEmail"
                                                       placeholder="support@galaxypremiere.com">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">Website</span>
                                                    <input type="text"
                                                       class="form-control"
                                                       id="txtCompanyWebsite_@i"
                                                       value="@Model.ResultGetUserProfileCompaniesServiceDto.getUserProfileCompaniesDto[i].Website"
                                                       placeholder="www.galaxypremiere.com">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">Facebook ID</span>
                                                    <input type="text"
                                                       class="form-control"
                                                       id="txtCompanyFacebook_@i"
                                                       value="@Model.ResultGetUserProfileCompaniesServiceDto.getUserProfileCompaniesDto[i].Facebook"
                                                       placeholder="@@galaxypremiere">
                                                    <span class="input-group-text">Instagram ID</span>
                                                    <input type="text"
                                                       class="form-control"
                                                       id="txtCompanyInstagram_@i"
                                                       value="@Model.ResultGetUserProfileCompaniesServiceDto.getUserProfileCompaniesDto[i].Instagram"
                                                       placeholder="@@galaxypremiere">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">Twitter ID</span>
                                                    <input type="text"
                                                       class="form-control"
                                                       id="txtCompanyTwitter_@i"
                                                       value="@Model.ResultGetUserProfileCompaniesServiceDto.getUserProfileCompaniesDto[i].Twitter"
                                                       placeholder="@@galaxypremiere">
                                                    <span class="input-group-text">Stage32 ID</span>
                                                    <input type="text"
                                                       class="form-control"
                                                       id="txtCompanyStage32_@i"
                                                       value="@Model.ResultGetUserProfileCompaniesServiceDto.getUserProfileCompaniesDto[i].Stage32"
                                                       placeholder="stage32.com/galaxypremiere">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">Youtube</span>
                                                    <input type="text"
                                                       class="form-control"
                                                       id="txtCompanyYoutube_@i"
                                                       value="@Model.ResultGetUserProfileCompaniesServiceDto.getUserProfileCompaniesDto[i].Youtube"
                                                       placeholder="youtube.com/galaxypremiere">
                                                    <span class="input-group-text">Name</span>
                                                    <input type="text"
                                                       class="form-control"
                                                       id="txtCompanyLinkden_@i"
                                                       value="@Model.ResultGetUserProfileCompaniesServiceDto.getUserProfileCompaniesDto[i].Linkden"
                                                       placeholder="@@galaxypremiere">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">Vimeo</span>
                                                    <input type="text"
                                                       class="form-control"
                                                       id="txtCompanyVimeo_@i"
                                                       value="@Model.ResultGetUserProfileCompaniesServiceDto.getUserProfileCompaniesDto[i].Vimeo"
                                                       placeholder="vimeo.com/galaxypremiere">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">IMDb</span>
                                                    <input type="text"
                                                       class="form-control"
                                                       id="txtCompanyIMDb_@i"
                                                       value="@Model.ResultGetUserProfileCompaniesServiceDto.getUserProfileCompaniesDto[i].Imdb"
                                                       placeholder="IMDb.com/galaxypremiere">
                                                </div>
                                                <button type="button"
                                                    data-dismiss="modal" class="btn cur-p btn-primary">
                                                    Done
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-2 add_del_btn_outer">
                                        <button type="button" class="btn_round remove_node_btn_frm_field_company"
                                            id="btnRemoveNodeBtnFrmFieldCompany_@i"
                                            onclick="DeleteProfileCompany(this)">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>

                                </fieldset>
                            </div>
                        }
                    </div>
                    <div class="input-group mt-3">
                        <button type="button" class="add_new_frm_field_companies_btn">
                            <i class="fas fa-plus add_icon"></i> Add New Company
                        </button>
                        <br />
                        <button type="button" onclick="GetProfileCompanyElements()"
                                id="btnUpdateProfileCompanies" class="btn cur-p btn-primary" disabled>
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="TabUserNews" class="TabcontentClass">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">News</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="Create" id="frmNews" method="post">
                    <div class="form_field_outer_news">
                        @for (byte i = 0; i <= Model.ResultGetUserProfileNewsServiceDto.getUserProfileNewsDto.Count - 1; i++)
                        {
                            <div class="row form_field_outer_news_row" id="news_form_@i">
                                <fieldset>
                                    <legend>News</legend>
                                    <input type="hidden"
                                       value="@Model.ResultGetUserProfileNewsServiceDto.getUserProfileNewsDto[i].Id"
                                       id="hiddenNews_@i" />
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">News Title</span>
                                        <input type="text"
                                           class="form-control"
                                           value="@Model.ResultGetUserProfileNewsServiceDto.getUserProfileNewsDto[i].Title"
                                           id="txtNewsTitle_@i"
                                           placeholder="The Official Selection at Cannes Film Festival">
                                        <span class="input-group-text">Reference</span>
                                        <input type="text"
                                           class="form-control"
                                           id="txtNewsReference_@i"
                                           value="@Model.ResultGetUserProfileNewsServiceDto.getUserProfileNewsDto[i].Reference"
                                           placeholder="Festival Press, Magazine, ...">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">News Link</span>
                                        <input type="text"
                                           class="form-control"
                                           id="txtNewsLink_@i"
                                           value="@Model.ResultGetUserProfileNewsServiceDto.getUserProfileNewsDto[i].Link"
                                           placeholder="www.galaxypremiere.com/blog/2035">
                                    </div>
                                    <div style="display:flex;">
                                        <div>
                                            <label class="input-group-text" style="border-radius:5px 0px 0px 5px;"
                                               for="inputGroupSelect01">From</label>
                                        </div>
                                        <div>
                                            <input readonly
                                               placeholder="Published Date of News"
                                               value="@Model.ResultGetUserProfileNewsServiceDto.getUserProfileNewsDto[i].PublishedDate"
                                               style="border-radius:0px;border-left:0;" width="300"
                                               id="datepickerNewsDate_@i">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2 add_del_btn_outer">
                                        <button type="button" class="btn_round remove_node_btn_frm_field_news"
                                            id="btnRemoveNodeBtnFrmFieldNews_@i"
                                            onclick="DeleteProfileNews(this)">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </fieldset>

                            </div>
                        }
                    </div>
                    <div class="input-group mt-3">
                        <button type="button" class="add_new_frm_field_news_btn">
                            <i class="fas fa-plus add_icon"></i> Add New News
                        </button>
                        <br />
                        <button type="button" onclick="GetProfileNewsElements()"
                                id="btnUpdateProfileNews" class="btn cur-p btn-primary" disabled>
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="TabUserLinks" class="TabcontentClass">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Links</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="Create" id="frmLinks" method="post">
                    <div class="form_field_outer_links">
                        @for (byte i = 0; i <= Model.ResultGetUserProfileLinksServiceDto.getUserProfileLinksDto.Count - 1; i++)
                        {
                            <div class="row form_field_outer_links_row" id="links_form_@i">
                                <fieldset>
                                    <legend>Link</legend>
                                    <input type="hidden"
                                       value="@Model.ResultGetUserProfileLinksServiceDto.getUserProfileLinksDto[i].Id"
                                       id="hiddenLinks_@i" />
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Title</span>
                                        <input type="text"
                                           class="form-control"
                                           value="@Model.ResultGetUserProfileLinksServiceDto.getUserProfileLinksDto[i].Title"
                                           id="txtLinkTitle_@i"
                                           placeholder="The Official Selection at Cannes Film Festival">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Link</span>
                                        <input type="text"
                                           class="form-control"
                                           id="txtLinkLink_@i"
                                           value="@Model.ResultGetUserProfileLinksServiceDto.getUserProfileLinksDto[i].Link"
                                           placeholder="www.galaxypremiere.com/blog/2035">
                                    </div>
                                    <div class="form-group col-md-2 add_del_btn_outer">
                                        <button type="button" class="btn_round remove_node_btn_frm_field_links"
                                            id="btnRemoveNodeBtnFrmFieldLinks_@i"
                                            onclick="DeleteProfileLinks(this)">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </fieldset>

                            </div>
                        }
                    </div>
                    <div class="input-group mt-3">
                        <button type="button" class="add_new_frm_field_links_btn">
                            <i class="fas fa-plus add_icon"></i> Add New Link
                        </button>
                        <br />
                        <button type="button" onclick="GetProfileLinksElements()"
                                id="btnUpdateProfileLinks" class="btn cur-p btn-primary" disabled>
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="TabUserAttachments" class="TabcontentClass">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Attachments</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-action="Create" id="frmAttachments" method="post">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Title</span>
                        <input type="text"
                               class="form-control"
                               id="txtAttachmentTitle"
                               placeholder="The Title of Attachment">
                    </div>
                    <div class="mb-3">
                        <input onchange="fileAttachmentChange(this);"
                               class="form-control form-control-lg" id="fileAttachment" type="file">
                    </div>

                    <div id="myBar" class="w3-container w3-green w3-center" style="width:0%">
                    </div>


                    <div class="mb-3" id="divInformationFileUpload">
                        Acceptable Formats: *.txt", *.docx, *.doc, *.pdf", *.jpg, *.png | Maximum Volume: 2MB
                    </div>
                    <div class="input-group mt-3">
                        <button type="button" onclick="PostProfileAttachments();"
                                id="btnUpdateProfileAttachments" class="btn cur-p btn-primary" disabled>
                            Add A New Attachment
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-body" id="divAttachments">
            @for (int i = 0; i <= Model.ResultGetUserProfileAttachmentsServiceDto.getUserProfileAttachmentsServiceDto.Count - 1; i++)
            {
                <fieldset>
                    <legend>Attachment</legend>
                    <table class="table table-striped align-middle">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Added Date</th>
                                <th>Downloads</th>
                                <th>File</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.ResultGetUserProfileAttachmentsServiceDto.getUserProfileAttachmentsServiceDto[i].Title</td>
                                <td>@Model.ResultGetUserProfileAttachmentsServiceDto.getUserProfileAttachmentsServiceDto[i].InsertDate</td>
                                <td>@Model.ResultGetUserProfileAttachmentsServiceDto.getUserProfileAttachmentsServiceDto[i].DownloadCounter</td>
                                <td>
                                    <a target="_blank" href="~/SiteTemplate/innerpages/files/user-attachments/@Model.ResultGetUserProfileAttachmentsServiceDto.getUserProfileAttachmentsServiceDto[i].Filename">
                                        [view]
                                    </a>
                                </td>
                                <td>
                                    <button type="button" class="btn_round remove_node_btn_frm_field"
                                        id="btnRemoveNodeBtnFrmFieldAttachment_@i"
                                        onclick="DeleteProfileAttachment(this,'@Model.ResultGetUserProfileAttachmentsServiceDto.getUserProfileAttachmentsServiceDto[i].Id')">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    @*<div class="form-group col-md-2 add_del_btn_outer">

                </div>*@
                </fieldset>

            }
        </div>
    </div>
</div>

@section Scripts{
    @* File Extension *@
    <script src="~/lib/kingfuncs/fileextensionsize/fileextensionsize.js"></script>
    @* Tabs *@
    <script src="~/sitetemplate/innerpages/plugins/tabNavigation/tab.js"></script>
    @*Datapicker*@
    <script src="~/lib/datapicker/datapicker.js"></script>
    @for (byte i = 0; i <= Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto.Count - 1; i++)
    {
        <script>
            $('#datepickerFrom_@i').datepicker({
                uiLibrary: 'bootstrap5'
            });
            $('#datepickerTo_@i').datepicker({
                uiLibrary: 'bootstrap5'
            });
        </script>
    }
    @for (byte i = 0; i <= Model.ResultGetUserProfileCompaniesServiceDto.getUserProfileCompaniesDto.Count - 1; i++)
    {
        <script>
            $('#datepickerCompanyFrom_@i').datepicker({
                uiLibrary: 'bootstrap5'
            });
            $('#datepickerCompanyTo_@i').datepicker({
                uiLibrary: 'bootstrap5'
            });
        </script>
    }
    @for (byte i = 0; i <= Model.ResultGetUserProfileNewsServiceDto.getUserProfileNewsDto.Count - 1; i++)
    {
        <script>
            $('#datepickerNewsDate_@i').datepicker({
                uiLibrary: 'bootstrap5'
            });
        </script>
    }
    @*Enabling Update Buttons*@
    @if (Model.ResultGetUserProfileEducationsServiceDto.getUserProfileEducationsServiceDto.Count > 0)
    {
        // if there is any record, enable the button
        <script>
            $(document).ready(function () {
                $("#btnUpdateProfileEducations").prop("disabled", false);
            });
        </script>
    }
    @if (Model.ResultGetUserProfileFavoriteMoviesServiceDto.getUserProfileFavoriteMoviesServiceDto.Count > 0)
    {
        // if there is any record, enable the button
        <script>
            $(document).ready(function () {
                $("#btnUpdateProfileFavoriteMovies").prop("disabled", false);
            });
        </script>
    }
    @if (Model.ResultGetUserProfileCompaniesServiceDto.getUserProfileCompaniesDto.Count > 0)
    {
        // if there is any record, enable the button
        <script>
            $(document).ready(function () {
                $("#btnUpdateProfileCompanies").prop("disabled", false);
            });
        </script>
    }
    @if (Model.ResultGetUserProfileNewsServiceDto.getUserProfileNewsDto.Count > 0)
    {
        // if there is any record, enable the button
        <script>
            $(document).ready(function () {
                $("#btnUpdateProfileNews").prop("disabled", false);
            });
        </script>
    }
    @if (Model.ResultGetUserProfileLinksServiceDto.getUserProfileLinksDto.Count > 0)
    {
        // if there is any record, enable the button
        <script>
            $(document).ready(function () {
                $("#btnUpdateProfileLinks").prop("disabled", false);
            });
        </script>
    }
    @*Executive Functions : Only for this page*@
    <script src="~/sitetemplate/innerpages/pagecssjs/profile/profile.js"></script>
}